@import "import/mixin"; // Подключаю миксины

// ================== Подключаем шрифты ===================
@import "import/fonts";
// --------------------------------------------------------

// ====================== Переменные ======================

$minwidth: 320px;
$mw: 1343;
$md1: $mw;
$md_1150: 1149.98;
$md_1045: 1044.98;
$md2: 992.98;
$md_872: 871.98;
$md3: 767.98;
$md_608: 608.98;
$md_552: 551.98;
$md4: 479.98;
$fontfamily: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', 'Segoe WP', 'Helvetica Neue', 'Lucida Grande', Verdana, Tahoma, Arial, sans-serif;

$black: #303438;
$white: #FFFFFF;
$darkGray: #ABB2BA;
$lightGray: #F1F5F9;
$lightGrayHover: #E3E8ED;
$whiteBlue: #00D1FF;
$violet2: #9029F8;
$gold: #EAB969;

$lg1: linear-gradient(90deg, #00D1FF -0.36%, #9029F8 100.12%);
$lg1_mob: linear-gradient(180deg, #00D1FF -0.36%, #9029F8 100.12%);
$lg2: linear-gradient(89.98deg, #9029F8 -0.11%, #E81F76 99.63%);
$lg2_mob: linear-gradient(180deg, #9029F8 -0.11%, #E81F76 99.63%);

$red: #E81F76;
$lightRed: #FFE6F1;
$orange: #FFA000;
$lightOrange: #FFF1E4;
$yellow: #FCC201;
$lightYellow: #FFF4C7;
$green: #17CF7B;
$lightGreen: #DEFBEE;
$blue: #3372FF;
$lightBlue: #E4ECFF;
$violet: #735CE6;
$lightViolet: #EFECFF;
$pink: #FF93C1;
$lightPink: #FFEAF3;

$divider: #EAF0F6;
$boxShadow: 0px 0px 40px rgba(69, 76, 84, 0.08);

// --------------------------------------------------------

@import "import/null"; // Обнуляющие стили

// ===================== Оболочка =========================

.wrapper{
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	@media (max-width:$md3+px) {
	    overflow: hidden;/* Выше 768 мы его убираем чтобы сработал 
	    position sticky у блока .stickyBlock */
	}
}

// --------------------------------------------------------

// ================= Основная сетка =======================
.container{
	max-width: $mw+px; margin: 0 auto; width: 100%;
}
// --------------------------------------------------------

// ============== Импортируем все стили ===================

@import "import/base"; // Вертска переиспользуемых блоков
@import "import/site"; // Последовательная верстка всего сайта
@import "import/text"; // Для теста
@import "import/_select2-user"; // Изменения в стилях select2
@import "import/_scroll";
@import "import/_popups";
//@import "import/test"; // Для теста

// --------------------------------------------------------