.popup {
	width: 100%;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	::-webkit-scrollbar {
    	width: 8px;
    	height: 8px;
   		background-color: #fff;
   		@media (max-width:$md3+px) {
   		    display: none;
   		}
	}

	::-webkit-scrollbar-thumb {
	    background-color: rgba(136,136,158, 0.4);
	    border-radius: 4px;
	    @media (max-width:$md3+px) {
   		    display: none;
   		}
	}

	::-webkit-scrollbar-thumb:hover {
	    background-color: rgba(136,136,158, 0.5);
	}

	scrollbar-color: #999 #ccc;
  	scrollbar-width: thin;
	
  	&.p-center{
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(0, 0, 0, 0.5);
	}
	&.p-overlay{
		@media (max-width:$md3+px) {
		    height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			display: flex;
			align-items: flex-end;
			.popup__body{
				border-radius: 12px 12px 0 0;
				position: relative;
				max-height: calc(100vh - 128px) !important;
			}
			.popup__wrap{
				border-radius: 12px 12px 0 0;
			}
		}
	}
	&.open{
		opacity: 1;
		visibility: visible;
		z-index: 1000;
		.popup__wrap{
			transform: translateY(0%);
			transition: all 0.3s ease 0s;
		}
	}
	&__wrap{
		@media (max-width:$md3+px) {
		    flex: 1;
		    transition: all 0.3s ease 0s;
	        transform: translateY(110%);
		}
		position: relative;
		background-color: $white;
		border-radius: 12px;
		overflow: hidden;
		filter: drop-shadow(0px 2px 8px rgba(43, 43, 66, 0.08));
	}
	&__body {
		max-height: calc(100vh - 64px);
		width: 540px;
		position: relative;
		border-radius: 12px;
		background-color: $white;
		margin-top: -8px;
		z-index: 20;
		overflow: auto;
		@media (max-width:$md3+px) {
		    width: 100%;
		}
	}
	&__close{
		padding: 12px;
		z-index: 4;
		position: absolute;
		cursor: pointer;
		top: 4px;
		right: -4px;
	}
	&__header {
		border-radius: 12px 12px 0px 0px;
		position: relative;
		overflow: hidden;
		img{
			width: 100%;
			height: auto;
		}
	}
	&__gift{
		width: 36.75%;
		left: 50%;
		pointer-events: none;
		position: absolute;
		z-index: 70;
		padding-top: 25.45%;
		transform: translate(-50%, calc(-100% + 52px));
		img{
			@extend .posa;
		}
	}
}

////////////////////////// Попап prizeReceive //////////////////////////

#prizeReceive, #prizeReceive2{
	.popup__wrap{
		overflow: visible;
	}
}

///////////////////////////// Попап lottery ////////////////////////////

.gamePlay{
	height: 300px;
	@media (max-width:$md4+px) {
	    height: auto;
	}
	&__row{
		height: 300px;
		display: flex;
		justify-content: center;
		@media (max-width:$md4+px) {
		  flex-direction: column;
		  height: auto;
		}
	}
	&__col{
		&.mod-col-1{
			@media (max-width:$md4+px) {
			    padding: 28.6px;
			}
		}
		&.mod-col-2{}
	}
	&__wheel{
		height: 100%;
		display: flex;
		svg{
			width: 100%;
			height: 100%;
		}
		#animated{
			transform-origin: 50% 50%;
			&.active{
				animation-timing-function: ease-out;
				animation: rotatecircle var(--circle-time) 0s forwards;
			}
		}
	}
	&__panel{
		height: 100%;
		display: flex;
		flex-direction: column;
		@media (max-width:$md4+px) {
		    flex-direction: row;
		    margin-top: 16px;
		}
	}
	&__scale{
		flex: 1;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 16px;
		@media (max-width:$md4+px) {
		    margin-bottom: 0;
		    justify-content: center;
		    margin-right: 16px;
		}
		p{
			@extend .text-footnote;
			color: $darkGray;
		}
	}
	&__textDesc{
		@media (max-width:$md4+px) {
		    display: none;
		}
	}
	&__gradient{
		flex: 1;
		width: 16px;
		border-radius: 99px;
		background: linear-gradient(180deg, $red 0%, #9029F8 26.56%, #00D1FF 50.52%, #0BD5A1 100%);
		margin: 8px;
		position: relative;
		border: 1px solid $divider;
		overflow: hidden;
		@media (max-width:$md4+px) {
		    flex: 0 0 16px;
		    margin: 0 0 8px 0;
		    width: 100%;
		    background: linear-gradient(270deg, $red 0%, #9029F8 26.56%, #00D1FF 50.52%, #0BD5A1 100%);
		}
	}
	&__runner{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 0%;
		background-color: $white;
		@media (max-width:$md4+px) {
		    height: 100%;
		   	right: 0;
		   	left: auto;
		}
		&.activeDESC{
			animation: runnerdesc 2s infinite 0s linear;
		}
		&.activeMOB{
			animation: runnermob 2s infinite 0s linear;
		}
		&.paused{
			animation-play-state:paused;
		}
	}
	&__text-mob{
		display: none;
		@media (max-width:$md4+px) {
		    width: 100%;
			display: flex;
			justify-content: space-between;
		}
	}
}

@keyframes rotatecircle {
	0%{transform: rotate(0deg);}
 	100% {transform: rotate(var(--circle-deg));}
}

@keyframes runnerdesc {
	0%{height: 0%;}
	50%{height: 100%;}
 	100% {height: 00%;}
}
@keyframes runnermob {
	0%{width: 0%;}
	50%{width: 100%;}
 	100% {width: 0%;}
}

//////////////////// Попап "Забрать приз" ////////////////////////

.pickupPrize {
	position: fixed;
	bottom: 40px;
	right: 32px;
	width: 328px;
	z-index: 300;
	background-color: $white;
	border: 1px solid $lightGray;
	box-sizing: border-box;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
	border-radius: 12px;
	cursor: pointer;
	@media (max-width:$md3+px) {
	    right: 16px;
	    bottom: 24px;
	    left: 16px;
	    width: auto;
	}
	&__image{
		position: absolute;
		top: -52px;
		right: 0px;
		width: 130px;
		height: 90px;
	}
}

.animate-display{
	visibility: hidden;
	opacity: 0;
	&.show-anim{
		visibility: visible;
		animation: show_pickupPrize 0.2s ease 0s forwards;
	}
	&.closing-anim{
		animation: hide_pickupPrize 0.2s ease 0s forwards;
	}
}

@keyframes show_pickupPrize {
	0%{ transform: translateY(20px); opacity: 0; }
	50%{ transform: translateY(0px); opacity: 0.5; }
 	100% { transform: translateY(10px); opacity: 1; }
}

@keyframes hide_pickupPrize {
	0%{ transform: translateY(10px); opacity: 1; }
	50%{ transform: translateY(0px); opacity: 0.5; }
 	100% { transform: translateY(20px); opacity: 0; }
}

///////////////////////////////////////////////////////////////