
////////////////////////// select-once-1 //////////////////////////

.select-once-1{
	.select2-container{
		max-width: 240px;
	}
	.select2-selection{ // Селект блок
		border: none;
		height: 40px;
		.select2-selection__rendered{ // Селект текст
			padding: 8px 40px 8px 8px;
			color: $black;
			@extend .text-extra-small;

		}
		.select2-selection__arrow{ // Стрелочка
			b{display: none;}
			height: 30px;
			width: 24px;
			margin-right:4px;
			margin-top: 6px;
			transition: all 0.1s ease 0s;
			&:after, &:before{
				position: absolute;
				content: "";
				top: 11px;
				width: 2px;
				height: 8px;
				border-radius: 2px;
				background-color: $black;
			}
			&:after{
				left: 8px;
				transform: rotate(-45deg);
			}
			&:before{
				left: 13px;
				transform: rotate(45deg);
			}
		}
	}
	.select2-container--open{ // Селект открыт
		.select2-selection__arrow{
			transform: rotate(180deg);
		}
	}
}
.select-once-1-dropdown{
	border-radius: 12px !important;
	border: 1px solid $lightGray;
	box-shadow: $boxShadow;
	margin-top: 4px;
	.select2-results__option{
		padding: 12px;
		color: $black;
		@extend .text-extra-small;
		&--highlighted{
			color: $black !important;
			background: none !important;
		}
		&--selected{
			display: none;
		}
		&:hover{
			color: $black;
			background: $lightGray !important;
			border-radius: 12px !important;
		}
	}
}

////////////////////////// select-once-2 //////////////////////////

.select-once-2{
	//width: 100%;
	.select2-container{
		width: 100% !important;
	}
	.select2-selection{ // Селект блок
		border: 2px solid $divider;
		border-radius: 12px !important;
		height: 56px;
		.select2-selection__rendered{ // Селект текст
			padding: 15px 48px 16px 16px;
			color: $black;
			font-family: "FuturaPT-Book";
			font-size: 20px;
			line-height: 24px;
		}
		.select2-selection__arrow{ // Стрелочка
			b{display: none;}
			height: 30px;
			width: 24px;
			margin-right:12px;
			margin-top: 12px;
			transition: all 0.1s ease 0s;
			&:after, &:before{
				position: absolute;
				content: "";
				top: 11px;
				width: 2px;
				height: 8px;
				border-radius: 2px;
				background-color: $black;
			}
			&:after{
				left: 8px;
				transform: rotate(-45deg);
			}
			&:before{
				left: 13px;
				transform: rotate(45deg);
			}
		}
	}
	.select2-container--open{ // Селект открыт
		.select2-selection__arrow{
			transform: rotate(180deg);
		}
	}
}
.select-once-2-dropdown{
	border-radius: 12px !important;
	border: 1px solid $lightGray;
	box-shadow: $boxShadow;
	margin-top: 4px;
	.select2-results__option{
		padding: 12px;
		color: $black;
		font-family: "FuturaPT-Book";
		font-size: 20px;
		line-height: 24px;
		&--highlighted{
			color: $black !important;
			background: none !important;
		}
		&--selected{
			display: none;
		}
		&:hover{
			color: $black;
			background: $lightGray !important;
			border-radius: 12px !important;
		}
	}
}

.js-select-once-2._validate._error + span{
	.select2-selection{
		border-color: $lightRed;
	}
}