///////////////////// ТЕГИ: Default ///////////////////////

body{
	font-family: "FuturaPT-Book";
	font-size: 19px;
	line-height: 24px;
	color: $black;
	a{
		color: inherit;
		&:hover{
			text-decoration: underline;
		}
	}
	button{
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
	}
}

svg{
	&.w16{
		flex: 0 0 16px;
		width: 16px;
		height: 16px;
		display: block;
	}
	&.w24{
		flex: 0 0 24px;
		width: 24px;
		height: 24px;
		display: block;
	}
	&.w32{
		flex: 0 0 32px;
		width: 32px;
		height: 32px;
		display: block;
	}
	&.w124{
		flex: 0 0 124px;
		width: 124px;
		height: 124px;
		display: block;
	}
}

img, video{
	object-fit: cover;
}

img{
	&.w80{
		max-width: 80px;
		max-height: 80px;
	}
	&.h24{
		height: 24px;
		display: flex;
	}
	&.maxW-100{
		max-width: 100%;
	}
}

hr{
	height: 1px;
	background-color: $divider;
}

h1, h2{
	> span{
		display: block;
	}
} 

///////////////////// MARGIN-PADDING //////////////////////

.m-4{margin: 4px;}
.mt-4{margin-top: 4px;}
.mr-4{margin-right: 4px;}
.mb-4{margin-bottom: 4px;}
.ml-4{margin-left: 4px;}

.m-8{margin: 8px;}
.mt-8{margin-top: 8px;}
.mr-8{margin-right: 8px;}
.mb-8{margin-bottom: 8px;}
.ml-8{margin-left: 8px;}

.m-16{margin: 16px;}
.mt-16{margin-top: 16px;}
.mr-16{margin-right: 16px;}
.mb-16{margin-bottom: 16px;}
.ml-16{margin-left: 16px;}

.mb-28{margin-bottom: 28px;}

.m-32{margin: 32px;}
.mt-32{margin-top: 32px;}
.mb-32{margin-bottom: 32px;}

.mt-64{margin-top: 64px;}
.mb-64{margin-bottom: 64px;}
.m-0{margin: 0 !important;}

.p-8{padding: 8px;}
.p-12{padding: 12px;}
.p-16{padding: 16px;}
.p-0{padding: 0 !important;}
.p-0-16{padding: 0 16px;}
.p-16-0{padding: 16px 0;}
.p-16-8{padding: 16px 8px;}
.p-8-16{padding: 8px 16px;}
.p-0-8{padding: 0 8px;}
.p-32-0{padding: 32px 0;}
.p-32{padding: 32px;}
.p-16-0-32-0{padding: 16px 0 32px 0;}
.p-32-0-16-0{padding: 32px 0 16px 0;}
.p-0-16-16-16{padding: 0 16px 16px 16px;}
.p-72-16-16-16{padding: 72px 16px 16px 16px;}
.pl-0{padding-left: 0 !important;}
.pb-16{padding-bottom: 16px;}

.m-0--16{margin: 0 -16px;}
.m0--8{margin: 0 -8px;}

.main-p-32-16{
	padding: 32px 16px;
	@media (max-width:$md3+px) {
	    padding: 16px;
	}
}

.main-p-32-8{
	padding: 32px 8px;
	@media (max-width:$md3+px) {
	    padding: 16px 8px;
	}
}

.main-p-32-0{
	padding: 32px 0;
	@media (max-width:$md3+px) {
	    padding: 16px 0;
	}
}

.main-p-64-0{
	padding: 64px 0;
	@media (max-width:$md3+px) {
	    padding: 32px 0;
	}
}

.main-pt-64{
	padding-top: 64px;
	@media (max-width:$md3+px) {
	    padding-top: 32px;
	}
}

.main-pb-64{
	padding-bottom: 64px;
	@media (max-width:$md3+px) {
	    padding-bottom: 32px;
	}
}

.main-pt-32-pb-128{
	padding: 32px 0 128px 0;
	@media (max-width:$md3+px) {
	    padding: 16px 0 64px 0;
	}
}

.main-pt-32-pb-16{
	padding: 32px 0 16px 0;
	@media (max-width:$md3+px) {
	    padding: 16px 0 16px 0;
	}
}

.main-pt-64-pb-16{
	padding: 64px 0 16px 0;
	@media (max-width:$md3+px) {
	    padding: 16px 0 16px 0;
	}
}

.nlc-mb-32{
	> *:not(:last-child):not(.not-nlc){
		margin-bottom: 32px;
	}
}

.nlc-mb-16{
	> *:not(:last-child){
		margin-bottom: 16px;
	}
}

.nlc-mb-12{
	> *:not(:last-child){
		margin-bottom: 12px;
	}
}

.nlc-mb-8{
	> *:not(:last-child){
		margin-bottom: 8px;
	}
}

.nlc-mb-4{
	> *:not(:last-child){
		margin-bottom: 4px;
	}
}

.nlc-mr-8{
	> *:not(:last-child){
		margin-right: 8px;
	}
}

.nlc-mr-16{
	> *:not(:last-child){
		margin-right: 16px;
	}
}

/////////////// ЧАСТО ИСПОЛЬЗУЕМЫЕ СТИЛИ /////////////////////

.posa{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.text-trim{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ta-c{text-align: center;}
.ta-r{text-align: right;}

.dn{ display: none !important;}
.md3-dn{
	@media (max-width:$md3+px) {
	    display: none !important;
	}
}
.md4-dn{
	@media (max-width:$md4+px) {
	    display: none !important;
	}
}
.md4-w-100{
	@media (max-width:$md4+px) {
	    width: 100%;
	}
}
.op-0{opacity: 0 !important;}
.o-h{overflow: hidden;}
.ws-n{white-space: nowrap;}
.w-100{width: 100%;}
.m0-auto{margin: 0 auto;}
.mxWidth-655{max-width: 655px;}

//////////////// COLOR, FILL, BACKGROUND //////////////////

.darkGray{color: $darkGray;}
.white{color: $white;}
.green{color: $green;}
.red{color: $red;}

.fillDarkGray{fill: $darkGray !important;}

.bg-green{background-color: $green !important;}
.bg-red{background-color: $red !important;}
.bg-gold{background-color: $gold !important;}
.bg-lightGray{background-color: $lightGray !important;}

///////////////////////// FLEX ////////////////////////////

.d-flex{display: flex;}
.d-inline-flex{display: inline-flex;}
.fww{flex-wrap: wrap;}
.fdc{flex-direction: column;}

.aic{align-items: center;}
.aifs{align-items: flex-start;}
.aife{align-items: flex-end;}

.jcc{justify-content: center;}
.jcfe{justify-content: flex-end;}
.jcsb{justify-content: space-between;}

.f-aic{
	display: flex;
	align-items: center;
}

.f-jcsb{
	display: flex;
	justify-content: space-between;
}


.f-jcsb-aic{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.f-jcc-aic{
	display: flex;
	justify-content: center;
	align-items: center;
}

.d-flex-w{
	display: flex;
	flex-wrap: wrap;
}

.d-flex-md3-w{
	display: flex;
	@media (max-width:$md3+px) {
	    flex-wrap: wrap;
	}
}

.col-2{
	flex: 0 0 50%;
	@media (max-width:$md3+px) {
	    flex: 0 0 100%;
	}
}

.col-3{
	flex: 0 0 33.333%;
	@media (max-width:$md3+px) {
	    flex: 0 0 100%;
	}
}

.col-4{
	flex: 0 0 25%;
	@media (max-width:$md2+px) {
	    flex: 0 0 50%;
	}
	@media (max-width:$md3+px) {
	    flex: 0 0 100%;
	}
}

.md3-colMax{
	@media (max-width:$md3+px) {
	    flex: 0 0 100%;
	}
}

.md3-fww{
	@media (max-width:$md3+px) {
    	flex-wrap: wrap;
	}
}

.md4-fww{
	@media (max-width:$md4+px) {
    	flex-wrap: wrap;
	}
}

.md3-fdcr{
	@media (max-width:$md3+px) {
	    flex-direction: column-reverse;
	}
}

.flex-1{flex: 1;}

// ---------- flex - разметки ------------ //

.flexMod-1{
	&__colMin{
		flex: 0 0 447px;
		@media (max-width:$md2+px) {
		    flex: 0 0 352px;
		}
	}
}

/////////////////////// КАРТИНКИ //////////////////////////

.image-hw-80{
	height: 80px;
	width: 80px;
	flex: 0 0 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $white;
	img{
		max-width: 100%;
		max-height: 100%;
	}
}

.image-hw-120{
	height: 120px;
	width: 120px;
	flex: 0 0 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $white;
	img{
		max-width: 100%;
		max-height: 100%;
	}
}

.image-hw-200{
	height: 200px;
	width: 200px;
	flex: 0 0 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $white;
	img{
		max-width: 100%;
		max-height: 100%;
	}
}

.imageArea{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	img{
		max-width: 100%;
		max-height: 100%;
	}
}

.imageRad24{
	border-radius: 24px;
	overflow: hidden;
	img{
		width: 100%;
	}
}

.iconRound, .label-3{
	background-color: $lightGray;
	border-radius: 99px;
	flex: 0 0 40px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.label-3{
	color: $darkGray;
	@extend .text-big;
}

.svgWithState{
	.st-2{visibility: hidden; opacity: 0;}
	&.active{
		.st-1{visibility: hidden; opacity: 0;}
		.st-2{visibility: visible; opacity: 1;}
	}
}

.logoImage{
	flex: 0 0 80px;
	height: 32px;
	width: 80px;
	display: block;
	&.mod-inHeader{
		@media (min-width:$md3+px) {
		    flex: 0 0 120px;
			height: 48px;
			width: 120px;
		}
	}
}

.userImage {
	border-radius: 99px;
	flex: 0 0 40px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	span{
		background-color: $red;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $white;
		@extend .text-big;
	}
	img{
		@extend .posa;
	}
	img + span{
		display: none;
	}
}

//////////////////// КНОПКИ, ССЫЛКИ ///////////////////////

.btn{
	padding: 10px 62px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid $red;
	background-color: $red;
	color: $white;
	border-radius: 99px;
	cursor: pointer;
	@extend .text-control;
	svg use{
		fill: $white;
	}
	&:hover{
		opacity: 0.8;
	}
	&.btn-inv{
		background-color: $white;
		color: $red;
		&:hover{
			opacity: 1;
			background-color: $red;
			color: $white;
		}
	}
	&.btn-green{
		border: 2px solid $green;
		background-color: $green;
	}
	&.btn-little{
		padding: 6px 22px;
	}
	&.p10{
		padding: 10px;
	}
	&.disabled{
		opacity: 0.5;
		cursor: default;
	}
}
a.btn{
	display: inline-flex;
	&:hover{
		text-decoration: none;
	}
}

.btn-2{
	text-decoration: none !important;
	border-radius: 8px;
	display: inline-block;
	padding: 2px 14px;
	border: 2px solid $divider;
	color: $darkGray;
	@extend .text-extra-small;
	&:hover{
		background-color: $divider;
		color: $darkGray;
	}
	&_active{
		color: $red;
		border-color: $red;
		&:hover{
			background-color: $red;
			color: $white;
		}
	}
}

.btnSec{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px 24px;
	border-radius: 99px;
	background-color: $lightGray;
	cursor: pointer;
	color: $black;
	svg{
		fill: $black;
	}
	
	@extend .text-default;
	&:hover{
		background-color: $lightGrayHover;
		text-decoration: none;
	}
	&.btnCart{
		color: $darkGray;
		cursor: default;
		svg{fill: $darkGray;}
		&:hover{
			background-color: $lightGray;
		}
		.varticalDevider{
			margin: 0 12px;
		}
		&.active{
			cursor: pointer;
			background-color: $red;
			color: $white;
			svg{fill: $white;}
			.varticalDevider{
				background-color: $white;
			}
			&:hover{
				opacity: 0.8;
			}
		}
		@media (max-width:$md3+px) {
		    .btnCartText{display: none;}
		}
	}
}

.btnRound{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px;
	background-color: $white;
	border: 2px solid $divider;
	box-shadow: $boxShadow;
	border-radius: 99px;
	transform: scale(1);
	transition: scale 0.2s ease 0s;
	svg{
		fill: $black;
	}
	&.btn-prev{
		transform: rotate(180deg);
	}
	&:hover{
	    transition: scale 0.2s ease 0s;
		transform: scale(1.2);
		&.btn-prev{
			transform: rotate(180deg) scale(1.2);
		}
	}
	&.btnPlayVideo{
		position: absolute;
		z-index: 4;
		top: calc(50% - 20px);
		left: calc(50% - 20px);
		padding: 10px;
		svg{
			transform: translate(1px, 1px);
		}
	}
	&.sliderBtn{
		z-index: 20;
		position: absolute;
		top: calc(50% - 20px);
		left: 24px;
		opacity: 1 !important;
		visibility: visible !important;
		&.btn-next{
			left: auto;
			right: 24px;
		}
		@media (max-width:$md3+px) {
		    display: none !important;
		}
	}
	&.btn-close{
		top: 16px;
		left: auto;
		right: 16px;
	}
	&.btn-prev, &.btn-next{
		overflow: 0;
		visibility: hidden;
	}
	&.open{
		opacity: 1;
		visibility: visible;
	}
}

.inputBtn{
	display: inline-block;
	text-decoration: none !important;
	cursor: pointer;
	background-color: $red;
	color: $white;
	border-radius: 12px;
	padding: 16px;
	&:hover{
		opacity: 0.8;
	}
	&_gray{
		background-color: $lightGray;
		color: $darkGray;
	}
}

.btnIcon{
	background-color: transparent;
	svg{
		fill: $lightRed;
	}
	&:hover{
		svg{
			fill: $red;
		}
	}
}

.btn-3{
	cursor: pointer;
	display: flex;
	background: rgba(48, 52, 56, 0.25);
	transition: all 0.1s ease 0s;
	border-radius: 99px;
	&:hover{
		transition: all 0.1s ease 0s;
		background: rgba(48, 52, 56, 1);
	}
	svg{
		fill: $white;
	}
}

.btn-4{
	padding: 8px 24px;
	background-color: $red;
	color: $white;
	border-radius: 99px;
	cursor: pointer;
	&:hover{
		opacity: 0.8;
	}
}

.link{
	color: $red;
	@extend .text-default;
}

.link-2{
	background-color: transparent;
	&:hover{
		text-decoration: underline;
	}
}

///////////////////////////// INPUT ///////////////////////////////////

.switch {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -8px;
	&__item {
		padding: 0 8px;
		flex: 33.333%;
		margin-bottom: 16px;
		@media (max-width:1300px) {
			flex: 0 0 50%;
		    &:last-child{
		    	flex: 0 0 100%;
		    }
		}
		@media (min-width:$md3+px) and (max-width:900px) {
		    flex: 0 0 100%;
		}
		@media (max-width:500px) {
		    flex: 0 0 100%;
		}
	}
	input{
		display: none;
	}
	label{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 6px;
		border: 2px solid $divider;
		cursor: pointer;
		height: 100%;
		border-radius: 12px;
		> *:not(:last-child){
			margin-bottom: 10px;
		}
	}
	input[type="radio"]:checked + label{
		border-color: $red;
	}
}

.inputFile{
	input{visibility: hidden; display: none;}
}

.inputText{
	position: relative;
	input:-webkit-autofill {
	    -webkit-box-shadow: inset 0 0 0 50px white; /* цвет вашего фона */
	    -webkit-text-fill-color: black; /* цвет текста */
	    & + label{
	    	top: 8px;
	    }
	}
	input[type="text"], input[type="password"], textarea{
		border: 2px solid $divider;
		border-radius: 12px;
		padding: 14px;
		height: 56px;
		padding: 13px 14px;
		width: 100%;
		font-size: 20px;
		line-height: 24px;
		outline: none;
		-webkit-appearance: none;
	    -moz-appearance: none;
		position: relative;
		&._error{
			border: 2px solid $lightRed;
		}
	}
	input[type="text"] + label, input[type="password"] + label, textarea + label{
		max-width: calc(100% - 16px);
		position: absolute;
		left: 12px;
		top: calc(50% - 12px);
		padding: 0 4px;
		background-color: $white;
		pointer-events: none;
		font-size: 20px;
		line-height: 24px;
		color: $darkGray;
		transition: all 0.2s ease 0s;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	input[type="text"]:disabled + label, input[type="password"]:disabled + label, textarea:disabled + label{
		background-color: transparent;
	}
	input:focus, textarea:focus, input:not(:placeholder-shown), textarea:not(:placeholder-shown){
		//padding: 26px 16px 6px 16px;
	}
	input:focus + label, textarea:focus + label, input:not(:placeholder-shown) + label, textarea:not(:placeholder-shown) + label{
		@extend .text-footnote;
		top: -8px;
	}
	textarea{
		resize: none;
		height: 112px;
	}
	textarea + label{
		top: 8px;
	}
	::-webkit-input-placeholder {
	  opacity: 0;
	}
	&.hidePlaceholder{
		input:focus + label, textarea:focus + label, input:not(:placeholder-shown) + label, textarea:not(:placeholder-shown) + label{
			display: none;
		}
	}
}

.inputTextBtn{
	width: 100%;
	display: flex;
	.inputText{
		flex: 1;
		input[type="text"], input[type="password"], textarea{
			border-radius: 12px 0px 0px 12px;
		}
	}
	.inputBtn{
		border-radius: 0px 12px 12px 0px;
	}
}

.inputCheckbox{
	> * {
		cursor: pointer;
	}
	input[type="checkbox"]{
		visibility: hidden;
		display: none;
	}
	input[type="checkbox"] + label{
		display: flex;
		align-items: flex-start;
		span{
			padding-left: 8px;
		}
		.st-1{fill: $darkGray;}
		.st-2{visibility: hidden;}
	}
	input[type="checkbox"]:checked + label{
		.st-1{visibility: hidden;}
		.st-2{visibility: visible; fill: $red;}
	}
}

.inputRadio{
	input[type="radio"]{
		visibility: hidden;
		display: none;
	}
	input[type="radio"] + label{
		display: flex;
		align-items: center;
		border-radius: 12px;
		position: relative;
		cursor: pointer;
		padding-left: 40px;
		&:after, &:before{
			content: "";
			position: absolute;
			border-radius: 50%;
		}
		&:after{
			top: calc(50% - 12px);
			left: 0px;
			width: 24px;
			height: 24px;
			border: 2px solid $lightGray;
		}
		&:before{
			z-index: 2;
			top: calc(50% - 6px);
			left: 6px;
			width: 12px;
			height: 12px;
			background-color: $white;
		}
	}
	input[type="radio"]:checked + label{
		&:after{
			border: none;
			background-color: $red;
		}
	}
}

// Убрать стрелки у input[type="number"]
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputPlusminus{
	display: flex;
	input{
		text-align: center;
		border: 2px solid $lightGray;
		margin: 0;
		max-width: 80px;
		border-radius: 0px;
		outline: none;
		&:focus{
			outline: none;
		}
		@extend .text-default;
	}
	button{
		padding: 8px;
		background-color: $lightGray;
		display: flex;
		color: $white;
		font-size: 15px;
		line-height: 18px;
		border-radius: 8px 0px 0px 8px;
		&:last-child{
			border-radius: 0px 8px 8px 0px;
		}
		svg{
			fill: $black;
		}
		&:hover{
			opacity: 0.8;
		}
	}
	&.disabled{
		button{
			cursor: default;
			svg{
				fill: $darkGray;
			}
			&:hover{
				opacity: 1;
			}
		}
	}
}

//////////////////////////// СПИСКИ /////////////////////////////////////

ol.list-ol{
	> *:not(:last-child){
		margin-bottom: 16px;
	}
	counter-reset: myCounter;
	li{
		padding-left: 16px;
		list-style: none;
		position: relative;
		&:before{
			position: relative;
			padding-right: 8px;
			counter-increment: myCounter;
			content: counter(myCounter)".";
			color: $red;
			@extend .text-extra-small;
		}
	}
	&.mod-pl-0{
		li{
			padding-left: 24px;
			&:before{
				left: 0px;
			}
		}
	}
	&.multi-column{
		column-count:3;
		padding-right: 16px;
		@media (max-width:$md2+px) {
		    column-count:2;
		}
		@media (max-width:$md3+px) {
		    column-count:1;
		}
	}
}

ul.list-ul{
	> *:not(:last-child){
		margin-bottom: 16px;
	}
	li{
		padding-left: 32px;
		list-style: none;
		position: relative;
		&:before{
			content: "";
			position: absolute;
			top: 8px;
			left: 16px;
			width: 8px;
			height: 8px;
			background-color: $red;
			border-radius: 99px;
		}
	}
}

//////////////////////////////// slick /////////////////////////////////

.slider-style-default{
	.slick-track{
		display: flex;
	}

	.slick-list {
		overflow: hidden;
		padding: 16px 8px;
	}

	.slick-slide{
		@media (max-width:$md3+px) {
		    margin-right: 0;
		}
	}
}

.slider-style-banner{
	.slick-track{
		display: flex;
		height: 100%;
	}

	.slick-list {
		height: 100%;
		overflow: hidden;
	}

	.slick-dots{
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 16px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		li{
			margin: 0 4px;
			flex: 1 1 auto;
			height: 3px;
			background-color: $lightGray;
			border-radius: 99px;
			cursor: pointer;
			position: relative;
			overflow: hidden;
			&.slick-active{
				//background-color: $red;
				&:after{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: $red;
					border-radius: 99px;
					//animation: loading 3.9s linear 0s forwards;
				}
			}
			button{
				display: none;
			}
		}
	}
}

/////////////////////////// Карточки (card) /////////////////////////////

.cardSimple {
	border: 2px solid $lightGray;
	border-radius: 24px;
}

.card-v1{
	box-shadow: $boxShadow;
	border-radius: 24px;
	background: $white;
	padding: 32px;
	height: 100%;
	&.mod-md-p-16{
		@media (max-width:$md4+px) {
		    padding: 16px;
		}
	}
}

.cardImage{
	height: 415px;
	position: relative;
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	overflow: hidden;
	text-decoration: none !important;
	transition: all 0.2s ease 0s;
	&:hover{
		img{
			transition: all 0.2s ease 0s;
			transform: scale(1.2);
		}
	}
	img{
		transition: all 0.2s ease 0s;
		@extend .posa;
	}
	&:after{
		content: "";
		z-index: 2;
		@extend .posa;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.52%, rgba(0, 0, 0, 0.5) 100%);
	}
	p{
		position: relative;
		z-index: 3;
		color: $white;
	}
}
//////////////// ДОПОЛНИТЕЛЬНЫЕ ЭЛЕМЕНТЫ, LABEL, LIST ///////////////////

.ibg{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	img{display: none;}
}

.varticalDevider{
	position: relative;
	height: 24px;
	width: 2px;
	background-color: $darkGray;
	opacity: 0.5;
	border-radius: 99px;
}

.label{
	background-color: $black;
	border-radius: 8px;
	padding: 4px 16px;
	display: inline-block;
	color: $white;
	@extend .text-extra-small;
	&_red{
		background-color: $red;
		border-color: $red;
	}
}

.label-2{
	display: inline-block;
	padding: 8px 16px;
	color: $darkGray;
	border-radius: 12px;
	background-color: $lightGray;
}

.label-4{
	border-radius: 12px;
	background-color: $lightGray;
	padding: 16px;
}

.oldPrice{
	display: inline-block;
	position: relative;
	span{
		@extend .text-extra-small;
		color: $darkGray;
	}
	svg{
		position: absolute;
		width: 54px;
		height: 10.93px;
		left: calc(50% - 54px/2 - 7.69px);
		top: calc(50% - 10.93px/2 + 2.6px);
		fill: $red;
		transform: rotate(-6.24deg);
	}
	&.text-default{
		span{
			@extend .text-default;
		}
	}
}

.rating{
	display: flex;
	padding: 2px 0;
	> *:not(:last-child){
		margin-right: 2px;
	}
	svg{
		width: 12px;
		height: 12px;
		fill: $red;
	}
}

.error{
	color: $red;
}

.shadow{
	box-shadow: $boxShadow;
}

.brad-12{
	border-radius: 12px;
}

.bb{
	position: relative;
	&:after{
		content: "";
		position: absolute;
		left: 16px;
		right: 16px;
		bottom: 0;
		height: 2px;
		background-color: $divider;
	}
}

.showHidePassword{
	position: absolute;
	right: 16px;
	top: 16px;
	fill: $darkGray;
	cursor: pointer;
}

.simpleMessage{
	position: fixed;
	bottom: 16px;
	left: 50%;
	transform: translate(-50%, calc(105% + 16px));
	background-color: $red;
	color: $white;
	padding: 16px;
	border-radius: 12px;
	animation: simpleMessage 2s forwards 0s ease;
}

@keyframes simpleMessage {
 	20% { transform: translate(-50%, 0%);}
 	80% { transform: translate(-50%, 0%);}
 	100% { transform: translate(-50%, calc(105% + 16px));}
}

.stickyBlock{
	height: 100%;
	> * {
		position: sticky;
		top: 16px;
	}
}

.sticky-min-md3{
	position: sticky;
	top: 16px;
	@media (max-width:$md3+px) {
	    position: static;
	}
}

.horizontalScroller{
	::-webkit-scrollbar {
    	width: 12px;
    	height: 12px;
   		background-color: $lightGray;
   		border-radius: 8px;
   		@media (max-width:$md3+px) {
   		    display: none;
   		}
	}

	::-webkit-scrollbar-thumb {
	    background-color: rgba(171, 178, 186, 0.5);
	    border-radius: 8px;
	    @media (max-width:$md3+px) {
   		    display: none;
   		}
	}

	::-webkit-scrollbar-thumb:hover {
	    background-color: $darkGray;
	}

	scrollbar-color: #999#333;
    scrollbar-width: thin;
}

///////////////////////////////////////////////////////////////////