//////////////////////////// nav ////////////////////////////

.nav{
	&__body{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px;
		position: relative;
	}
	&__content{}
	&__overlayMenu{
		@media (max-width:$md4+px) {
			&.active{
				position: fixed;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    background: rgba(0,0,0,0.3);
			    z-index: 39;
			}
		}
	}
	&__menu{
		display: flex;
		align-items: center;
		margin-right: 16px;
		> *:not(.btnSec){
			padding: 8px;
			border-radius: 12px;
			text-decoration: none;
			&:hover{
				background-color: $lightGray;
			}
		}
		.btnSec{
			margin-left: 8px;
		}
		@media (max-width:$md_1045+px) {
			display: none;
			z-index: 40;
		    position: absolute;
		    top: 56px;
		    left: 16px;
		    width: 375px;
		    flex-direction: column;
		    padding: 16px;
		    border-radius: 12px;
		    background-color: $white;
		    box-shadow: $boxShadow;
		    > * {
		    	width: 100%;
		    }
		    .btnSec{
		    	margin: 8px 0 0 0;
		    }
			&.active{
				display: flex;
			}
		}
		@media (max-width:$md4+px) {
			display: flex;
			position: fixed;
			top: auto;
	        bottom: 0;
	        left: 0;
	        box-shadow: none;
	        width: 100%;
	        transition: all 0.3s ease 0s;
	        transform: translateY(110%);
			&.active{
				transform: translateY(0%);
				transition: all 0.3s ease 0s;
			}
	    }
	}
	&__logo{
		.burger{display: none;}
		@media (max-width:$md_1045+px) {
		    display: flex;
		    align-items: center;
		    .burger{
		    	display: block;
		    	margin-right: 24px;
		    }
		}
	}
}

.burger{
	background-color: transparent;
	cursor: pointer;
	.st-active{
		display: none;
	}
	&.active{
		.st-not-active{display: none;}
		.st-active{
			fill: $red;
			display: block;
		}
	}
}

//////////////////////////// rkl ////////////////////////////

.rkl{
	background-color: $red;
	color: $white;
}

////////////////////////// product ///////////////////////////

.product {
	&__row {
		display: flex;
		padding-bottom: 16px;
		@media (max-width:$md3+px) {
		    flex-wrap: wrap;
		}
	}
	&__col {
		flex: 0 0 50%;
		padding: 16px;
		min-width: 0;
		@media (max-width:$md3+px) {
		    flex: 0 0 100%;
		}
	}
	&__holder {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__content {
		.f-jcsb-aic{
			@media (max-width:$md2+px) {
			    flex-wrap: wrap;
			}
		}
	}
}

.warranty {
	border-radius: 24px;
	padding: 16px;
	background-color: $lightOrange;
	display: flex;
	align-items: center;
	> img{
		flex: 0 0 72px;
		width: 72px;
		height: 72px;
		margin-right: 16px;
	}
	&__text {
		.text-medium{
			color: $orange;
			margin-bottom: 8px;
		}
	}
}

.horizontalScroller{
	::-webkit-scrollbar {
    	width: 12px;
    	height: 12px;
   		background-color: $lightGray;
   		border-radius: 8px;
   		@media (max-width:$md3+px) {
   		    display: none;
   		}
	}

	::-webkit-scrollbar-thumb {
	    background-color: rgba(171, 178, 186, 0.5);
	    border-radius: 8px;
	    @media (max-width:$md3+px) {
   		    display: none;
   		}
	}

	::-webkit-scrollbar-thumb:hover {
	    background-color: $darkGray;
	}

	scrollbar-color: #999#333;
    scrollbar-width: thin;
}

.sliderBig{
	width: 100%;
	padding-top: 100%;
	position: relative;
	&__body{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 2px solid $divider;
		border-radius: 24px;
		overflow: hidden;
		&:hover{
			/*.slick-dots > li.slick-active:after{
				display: none !important;
				animation-play-state: paused;
				-webkit-animation-play-state: paused;
			}*/
		}
	}
	&__item{
		position: relative;
		max-height: 100%;
		img, video{
			width: 100%;
			height: 100%;
		}
	}
	.slick-list {
		overflow: hidden;
		height: 100%;
	}

	.slick-track{
		display: flex;
		height: 100%;
	}
	.slick-dots{
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 16px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		li{
			margin: 0 4px;
			flex: 1 1 auto;
			height: 3px;
			background-color: $lightGray;
			border-radius: 99px;
			cursor: pointer;
			position: relative;
			overflow: hidden;
			&.slick-active{
				//background-color: $red;
				&:after{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: $red;
					border-radius: 99px;
					//animation: loading 3.9s linear 0s forwards;
				}
			}
			button{
				display: none;
			}
		}
	}
}

@keyframes loading {
 	100% { width: 100%;}
}

.scrollPreview {
	margin-top: 8px;
	max-width: 100%;
	padding-bottom: 8px;
	overflow-x: auto;
	overflow-y: hidden;
	&__body{
		display: inline-flex;
		margin: 0 -8px;
	}
	&__item {
		flex: 0 0 80px;
		width: 80px;
		height: 80px;
		border-radius: 12px;
		overflow: hidden;
		border: 2px solid $divider;
		margin: 0 8px;
		cursor: pointer;
		position: relative;
		&.active{
			border-color: $red;
		}
		img{
			width: 100%;
			height: 100%;
		}
	}
}


////////////////////////// review ///////////////////////////

.reviews{
	padding-bottom: 64px;
	@media (max-width:$md3+px) {
	    padding-bottom: 32px;
	}
}

.reviewCategory {
	&__row {
		display: flex;
		@media (max-width:$md3+px) {
		    flex-wrap: wrap;
		}
	}
	&__col {
		padding: 8px;
		flex: 0 0 20%;
		@media (max-width:$md3+px) {
		    flex: 0 0 50%;
		}
		&.col-max{
			@media (max-width:$md3+px) {
			    flex: 0 0 100%;
			}
		}
	}
	&__item {
		border: 2px solid $divider;
		border-radius: 12px;
		padding: 16px;
		text-align: center;
		cursor: pointer;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		&:hover{
			background-color: $lightGray;
			text-decoration: none;
		}
		&.active{
			border: 2px solid $red;
		}
		img{
			margin: 0 auto 20px auto;
		}
	}
}

.cardReviews {
	width: 300px;
	height: 100%;
	padding: 16px;
	border: 2px solid $divider;
	border-radius: 12px;
	background-color: $white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	::-webkit-scrollbar {
    	width: 8px !important;
    	height: 8px;
   		background-color: #fff !important;
   		@media (max-width:$md3+px) {
   		    display: none;
   		}
	}

	::-webkit-scrollbar-thumb {
	    background-color: rgba(136,136,158, 0.4);
	    border-radius: 4px;
	    @media (max-width:$md3+px) {
   		    display: none;
   		}
	}

	::-webkit-scrollbar-thumb:hover {
	    background-color: rgba(136,136,158, 0.5);
	}

	scrollbar-color: #999 #ccc;
  	scrollbar-width: thin !important;

	&__content{
		position: relative;
		z-index: 20;
		margin-top: 16px;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-height: 214px;
		overflow: auto;
		height: 100%;
	}
	&__text {
		flex: 1;
		&.hidden{
			overflow: hidden;
			display: -webkit-box;
		    -webkit-line-clamp: 4;
		    -webkit-box-orient: vertical;
			text-overflow: ellipsis;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				width: 50%;
				background: linear-gradient(90deg, rgba(255,255,255,0),rgba(255,255,255,1));
				height: 24px;
				bottom: 0;
				right: 0;
			}
		}
	}
	&:hover{
		.cardReviews__button.js-hide-text{
			opacity: 1;
		}
	}
	&__button {
		margin-bottom: 16px;
		text-align: left;
		color: $red;
		background-color: transparent;
		display: none;
		&.js-hide-text{
			display: block;
			@media (min-width:$md3+px) {
			   opacity: 0; 
			}
		}
		&.active{
			.show-more{display: none;}
			.show-less{display: block;}
		}
		.show-less{
			display: none;
		}
	}
}

.userImage {
	border-radius: 99px;
	flex: 0 0 40px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	&.notImage{
		background-color: $red;
	}
	span{
		color: $white;
		@extend .text-big;
	}
	img{
		@extend .posa;
	}
}

///////////////////////// result21 //////////////////////////

.result21 {
	background-color: $lightGray;
	&__row {
		padding: 8px;
		display: flex;
		align-items: center;
		@media (max-width:$md3+px) {
		    flex-wrap: wrap;
		}
	}
	&__col {
		padding: 8px;
		flex: 0 0 50%;
		@media (max-width:$md3+px) {
		    flex: 0 0 100%;
		}
	}
	&__image {
		border-radius: 24px;
		overflow: hidden;
		img{
			width: 100%;
		}
	}
	&__content {}
}

.topLil{
	margin-bottom: 16px;
	> svg{
		display: block;
		fill: $red;
	}
	&__1{
		margin: 0 0 9px 25px;
		width: 33.15px;
		height: 32.73px;
	}
	&__2{
		width: 23.12px;
		height: 22.7px;
		opacity: 0.5;
		transform: rotate(38deg);
	}
}

.bottomLil{
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	> svg{
		display: block;
		fill: $red;
		opacity: 0.5;
	}
	&__1{
		width: 18px;
		height: 18px;
		margin-bottom: 37px;
	}
	&__2{
		width: 11px;
		height: 11px;
		margin-right: 51px;
	}
}

/////////////////////////// stick ///////////////////////////

.stick {
	&__image{
		text-align: center;
		img{
			max-width: 100%;
		}
	}
	&__desc{
		@media (max-width:$md3+px) {
		    display: none;
		}
	}
	&__mob{
		@media (min-width:$md3+px) {
		    display: none;
		}
	}
}

//////////////////////// effectSerum /////////////////////////

.effectSerum {
	&__row {
		padding: 0 16px 16px 16px;
		display: flex;
		@media (max-width:$md3+px) {
		    flex-wrap: wrap;
		}
	}
	&__col {
		flex: 0 0 33.333%;
		@media (max-width:$md3+px) {
		    flex: 0 0 100%;
		}
		display: flex;
		flex-direction: column;
		@media (max-width:$md3+px) {
		    flex-direction: row;
		}
	}
	&__label {
		display: flex;
		align-items: center;
		@media (max-width:$md3+px) {
		    flex-direction: column;
		    max-width: 45px;
		    .text-huge{
		    	font-family: "FuturaPT-Heavy";
			    font-size: 18px;
			    line-height: 24px;
			    text-align: center;
			    padding: 0;
		    }
		}
		.line{
			flex: 1 1 auto;
			height: 4px;
			@media (max-width:$md3+px) {
			    width: 4px;
			}
		}
		&.v1{
			.line-1{background-color: $whiteBlue;}
			.text-huge{color: $whiteBlue;}
			.line-2{
				background: $lg1;
				@media (max-width:$md3+px) {
				    background: $lg1_mob;
				}
			}
		}
		&.v2{
			.line-1{background-color: $violet2;}
			.text-huge{color: $violet2;}
			.line-2{
				background: $lg2;
				@media (max-width:$md3+px) {
				    background: $lg2_mob;
				}
			}
		}
		&.v3{
			.line-1{background-color: $red;}
			.text-huge{color: $red;}
			.line-2{background: $red;}
		}
	}
	&__content {
		flex: 1;
		padding: 10px 10px 0 10px;
		@media (max-width:$md3+px) {
		    padding: 10px 0px 0 18px;
		}

	}
	&__text{
		height: 100%;
		padding: 16px;
		box-shadow: $boxShadow;
		border-radius: 24px;
		display: flex;
		align-items: center;
		position: relative;
		@media (max-width:$md2+px){
		    flex-direction: column;
		}
		svg{
			width: 112px;
			flex: 0 0 112px;
			height: 112px;
			margin-right: 16px;
			@media (max-width:$md2+px) {
			    margin: 0 0 16px 0;
			}
		}
	}
	&__triangle{
		display: block;
	    position: absolute;
		z-index: 12;
		top: calc(50% - 56px);
		left: -62px;
		margin: 0 !important;
		@media (min-width:$md3+px) {
			transform: rotate(90deg);
		    top: -62px;
			left: calc(50% - 56px);
		}
	}
}


/////////////////////////// unique ////////////////////////////

.unique {
	background-color: $lightGray;
	&__row {
		padding: 64px 16px 0 16px;
		display: flex;
		align-items: center;
		@media (max-width:$md_1150+px) {
		    display: block;
		}
		@media (max-width:$md3+px) {
		    padding: 32px 16px 0 16px;
		}
	}
	&__col {
		&.col-1 {
			flex: 0 0 448px;
		}
		&.col-2 {
			flex: 1 1 auto;
		}
	}
	&__content {
		@media (max-width:$md_1150+px) {
		    max-width: 800px;
		    margin: 0 auto;
		    text-align: center;
		}
		@media (max-width:$md3+px) {
		    text-align: left;
		}
	}
	&__table{
		padding: 16px 16px 0 16px;
		@media (max-width:$md_1150+px) {
		   padding: 16px 0 0 0;
		}
		table{
			width: 100%;
			border-collapse: collapse;
			border-radius: 12px 12px 0px 0px;
			svg{
				fill: $white;
				margin: 0 auto;
			}
			td{
				@media (max-width:$md_552+px) {
					font-family: "FuturaPT-Book";
				    font-size: 16px;
				    line-height: 16px;
				}
				background-color: $white;
				padding: 16px 16px 0px 16px;
				&.bg-red{
					background-color: $red;
				}
				&.bg-lightGray{
					background-color: $lightGray;
				}
				&.image1{
					text-align: center;
					padding: 0;
					img{
						margin-top: -23%;
						max-width: 188px;
						width: auto;
						@media (max-width:$md_552+px) {
						    width: 100%;
						}
					}
				}
				&.image2{
					text-align: center;
					img{
						max-width: 107px;
						width: auto;
						@media (max-width:$md_552+px) {
						    width: 100%;
						}
					}
				}
				&.brad-t{
					border-radius: 12px 12px 0px 0px;
				}
				&.brad-tl{
					border-radius: 12px 0px 0px 0px;
				}
				&.brad-tr{
					border-radius: 0px 12px 0px 0px;
				}
			}
			tr:last-child>td{
				padding-bottom: 16px;
			}
		}
	}
}

//////////////////////// warrantyWork /////////////////////////

.warrantyWork {
	&__body {
		padding: 0 16px 32px 16px;
	}
	&__row{
		background-color: $lightOrange;
		border-radius: 24px;
		overflow: hidden;
		display: flex;
		align-items: flex-end;
		@media (max-width:$md3+px) {
		    flex-wrap: wrap;
		}
	}
	&__text{
		position: relative;
		z-index: 5;
		flex: 0 0 53.7%;
		padding: 32px;
		img{
			width: 72px;
			height: 72px;
		}
		.text-huge{color: $orange;}
		@media (max-width:$md3+px) {
		    flex: 0 0 100%;
		}
	}
	&__image{
		flex: 1;
		img{
			width: 100%;
		}
		@media (max-width:$md3+px) {
		    flex: 0 0 100%;
		}
		@media (min-width:$md3+px) and (max-width:$md_1150+px) {
			position: relative;
			img{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 578px;
				height: 408px;
			}
		}
	}
}

//////////////////////////// faq /////////////////////////////

.dropdown{
	padding: 0 16px;
	&__head{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 32px 0px;
		border-bottom: 2px solid $divider;
		cursor: pointer;
		p{margin-right: 8px;}
	}
	&__body{
		padding: 16px 0;
	}
}

.js-dropdown-item .btnRound{
		transition: all 0.3s ease 0s;
	}
.js-dropdown-item.active {
	.dropdown__head{
		color: $red;
	}
	.btnRound{
		transform: rotate(45deg);
		transition: all 0.3s ease 0s;
	}
}

/////////////////////////// cost ////////////////////////////

.cost {
	background-color: $lightGray;
	&__row {
		padding: 8px;
		display: flex;
		@media (max-width:$md_1150+px) {
		    flex-wrap: wrap-reverse;
		}
	}
	&__col {
		padding: 8px;
		flex: 0 0 50%;
		@media (max-width:$md_1150+px) {
		    flex: 0 0 100%;
		}
		&.mod2{
			@media (max-width:$md_1150+px) {
			    margin-top: 32px;
			}
		}
	}
	&__text{
		.btn{
			@media (max-width:$md_1150+px) {
			    width: 100%;
			}
		}
	}
	&__smart{
		position: relative;
		display: flex;
		align-items: flex-end;
		padding: 16.5px 8px 8px 8px;
		@media (max-width:$md_1150+px) {
		    padding: 16.5px 0px 8px 0px;
		    margin: 0 -8px;
		}
	}
	&__col2{
		padding: 8px;
		flex: 0 0 50%;
	}
	&__stat1{
		background-color: $white;
		border-radius: 12px;
		height: 406px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: relative;
		.text-big{
			@media (max-width:$md3+px) {
		    	font-family: "FuturaPT-Heavy";
				font-size: 18px;
				line-height: 24px;
			}
		}
		.p-32{
			@media (max-width:$md3+px) {
			    padding: 16px;
			}
		}
		@media (max-width:$md3+px) {
		    height: 300px;
		}
	}
	&__wrap{
		position: absolute;
		top: 0;
		left: 0;
		transform: translateY(-50%);
		width: 100%;
		svg{
			fill: $white;
			margin: 0 auto;
			@media (max-width:$md3+px) {
			    width: 64px;
			    height: 64px;
			}
		}
		
	}
	&__stat2{
		background-color: $red;
		border-radius: 12px;
		color: $white;
		position: relative;
		padding-top: 40px;
		.text-big{
			@media (max-width:$md3+px) {
		    	font-family: "FuturaPT-Heavy";
				  font-size: 18px;
				  line-height: 24px;
			}
		}
		.p-32{
			@media (max-width:$md3+px) {
			    padding: 16px;
			}
		}
	}
	&__background{
		@extend .posa;
		overflow: hidden;
	}
	&__bgItem{
		height: 2px;
		background-color: $divider;
		margin-top: 62px;
	}
}

////////////////////////// about ///////////////////////////

.about{
	&__scroll{
		padding: 16px 8px 8px 8px;
		.scroll__scroll{
			padding-bottom: 8px;
		}
		.scroll__item{
			padding: 0px;
			&:first-child .about__item{
				padding-left: 0px;
			}
		}
	}
	&__item{
		width: 155px;
		height: 266px;
		border-radius: 12px;
		overflow: hidden;
		padding: 8px;
		position: relative;
		cursor: pointer;
		img{
			position: relative;
			z-index: 2;
			width: 100%;
			height: 100%;
			border-radius: 10px;
			border: 2px solid #EAF0F6;
		}
	}
	&__news{
		background: linear-gradient(198.73deg, #E81F76 0%, #9029F8 35.43%, #00D1FF 67.21%, #0BD5A1 100.04%);
		position: absolute;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
		z-index: 8;
		border-radius: 11px;
		padding: 8px;
		&:after{
			content: "";
			position: absolute;
			top: 2px;
			left: 2px;
			bottom: 2px;
			right: 2px;
			background-color: $white;
			border-radius: 10px;
		}
		&:before{
			content: "";
			position: absolute;
			z-index: 5;
			top: 8px;
			left: 8px;
			bottom: 8px;
			right: 8px;
			background: rgba(69, 76, 84, 0.12);
			backdrop-filter: blur(16px);
			border-radius: 10px;
		}
		img{border: none;}
	}
	&__text{
		@extend .posa;
		@extend .f-jcc-aic;
		flex-direction: column;
		color: $white;
		z-index: 20;
		padding: 16px;
	}
	&__photoCount{
		text-align: center;
		border: 2px solid $divider;
		box-sizing: border-box;
		padding: 6px;
		width: 100%;
		border-radius: 99px;
	}
}

.stories{
	&.active{
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(15px);
		.stories__scroll{
			display: inline-block;
		}
		.about__scroll{
			padding: 0;
		}
		.scroll{
			&__body{
				padding-top: 8px;
				overflow-x: hidden;
				overflow-y: auto;
				height: 100vh;
			}
			&__scroll{
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
			}
			&__item{
				display: inline-block;
				&:first-child .about__item{
					padding-left: 8px;
				}
			}
		}
		.stories__body{display: flex;}
		.about__item img{border: none;}
	}
	&__body{
		display: none;
		align-items: center;
		justify-content: center;
		@extend .posa;
	}
	&__slider{
		height: 600px;
		width: 328px;
	}
	&__item{
		height: 100%;
		img, video{
			width: 100%;
			height: 100%;
		}
	}

	.slick-list {
		border-radius: 12px;
		overflow: hidden;
		height: 100%;
	}

	.slick-track{
		display: flex;
		height: 100%;
	}
}

///////////////////////// feedback //////////////////////////

.feedback {
	&__item {
		border-bottom: 1px solid $divider;
	}
	&__info{
		display: flex;
		align-items: center;
		margin-left: 8px;
		@media (max-width:$md_552+px) {
			flex-direction: column;
			align-items: flex-end;
			.mr-16{
				text-align: right;
				margin-right: 0;
			}
		}
	}
	&__content {
		padding-left: 56px;
		@media (max-width:$md3+px) {
		    padding-left: 0px;
		}
	}
}

.imageFeedback{
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 36.5fr 23fr 18fr 22.5fr;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: "post-1 post-2 post-4 post-6"  
                         "post-1 post-3 post-5 post-6";
    > *:first-child{grid-area: post-1;}
    > *:nth-child(2){grid-area: post-2;}
    > *:nth-child(3){grid-area: post-3;}
    > *:nth-child(4){grid-area: post-4;}
    > *:nth-child(5){grid-area: post-5;}
    > *:nth-child(6){grid-area: post-6;}
    > *:nth-child(n+7){display: none;}
    &.child-6{
    	height: 216px;
    	.imageFeedback__item{height: 100%;}
    }
    &.child-5{
    	height: 216px;
    	grid-template-areas: "post-1 post-2 post-4 post-5"  
                             "post-1 post-3 post-4 post-5";
    	.imageFeedback__item{height: 100%;}
    }
    &.child-4{
    	height: 216px;
    	grid-template-areas: "post-1 post-2 post-4 post-4"  
                             "post-1 post-3 post-4 post-4";
    	.imageFeedback__item{height: 100%;}
    }
    &.child-1, &.child-2, &.child-3{
    	grid-template-columns: 23fr 18fr 36.5fr;
    	grid-template-rows: none;
    	grid-template-areas: "post-1 post-2 post-3";
    }
	@media (max-width:$md3+px) {
		grid-template-areas: none !important;
	    grid-template-rows: repeat(2,1fr) !important;
	    grid-template-columns: repeat(3,34fr) !important;
	    height: auto !important;
	    > *:nth-child(n+1){grid-area: auto;}
	    > *:first-child{
	    	grid-area: 1/1/3/3;
	    }
	}
	&__item{
		position: relative;
		border-radius: 12px;
		overflow: hidden;
		height: 216px;
		@media (max-width:$md3+px) {
		    height: 0;
		    padding-top: 100%;
		}
		button{
			@extend .posa;
			img, video{
				width: 100%;
				height: 100%;
			}
		}
	}
	&__duration{
		position: absolute;
		z-index: 3;
		bottom: 16px;
		left: 16px;
		border-radius: 12px;
		padding: 2px 8px;
		background-color: $white;
		pointer-events: none;
		@media (max-width:$md4+px) {
		    bottom: 4px;
		    left: 4px;
		}
	}
}

.pagination-sv {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
	&__list {
		li{
			border: 2px solid $divider;
			border-radius: 8px;
			list-style: none;
			margin: 0 8px;
			a{
				display: inline-block;
				padding: 2px 10px;
				text-decoration: none;
				color: $darkGray;
				@extend .text-extra-small;
			}
			&.active{
				background-color: $red;
				a{
					color: $white;
				}
			}
			&:hover:not(.active){
				background-color: $divider;
			}
			&.mob-hide{
				@media (max-width:$md3+px) {
				    display: none;
				}
			}
		}
	}
}

/////////////////////////// terms ////////////////////////////

.terms{
	&__row{
		display: flex;
		flex-wrap: wrap;
	}
	&__col{
		flex: 0 0 33.333%;
		padding: 16px;
		@media (max-width:$md3+px) {
		    flex: 0 0 100%;
		}
	}
}

.cardTerms{
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 32px;
	height: 100%;
	img{
		width: 72px;
		height: 72px;
		display: inline-block;
		margin-bottom: 16px;
	}
	&.v1{
		background-color: $lightRed;
		.text-medium{color: $red;}
	}
	&.v2{
		background-color: $lightYellow;
		.text-medium{color: $yellow;}
	}
	&.v3{
		background-color: $lightOrange;
		.text-medium{color: $orange;}
	}
	&.v4{
		background-color: $lightGreen;
		.text-medium{color: $green;}
	}
	&.v5{
		background-color: $lightBlue;
		.text-medium{color: $blue;}
	}
	&.v6{
		background-color: $lightViolet;
		.text-medium{color: $violet;}
	}
}

.terms.isClone{
	.cardTerms{
		align-items: flex-start;
		justify-content: start;
		padding: 16px;
		img{margin-bottom: 8px;}
		.text-medium{margin-bottom: 8px;}
	}
}

///////////////////////// useful //////////////////////////

.useful{
	&__row{
		display: flex;
		@media (max-width:$md2+px) {
		    display: block;
		}
	}
	&__col{
		flex: 0 0 33.333%;
		padding: 16px;
		@media (max-width:$md2+px) {
		    flex: auto;
		    padding: 8px;
		}
	}
	&__card{
		box-shadow: $boxShadow;
		border-radius: 16px;
		height: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		@media (max-width:$md3+px) {
		    .btn{
		    	padding: 10px 14px;
		    }
		}
	}
	&__body{
		position: relative;
		.sliderBtn{
			@media (min-width:$md2+px) {
			    display: none;
			}
		}
	}
	&__label{
		position: absolute;
		top: 16px;
		left: 16px;
		padding: 4px 16px;
		border-radius: 8px;
		background-color: $red;
		color: $white;
		@extend .text-extra-small;
		&.v2{
			background-color: $black;
		}
	}
	&__image{
		position: relative;
		padding-top: 100%;
		width: 100%;
	}
	&__imageWrap{
		@extend .posa;
		padding: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		img{
			max-width: 100%;
			max-height: 100%;
		}
	}
}

///////////////////////// footer //////////////////////////

.footer{
	background-color: $lightGray;
	&__row{
		display: flex;
		flex-wrap: wrap;
		padding: 16px 0px;
	}
	&__col{
		flex: 0 0 25%;
		padding: 8px;
		@media (max-width:$md3+px) {
	    	flex: 0 0 50%;
		}
		@media (max-width:$md4+px) {
		    flex: 0 0 100%;
		    border-bottom: 2px solid $divider;
		}
	}
	&__row2{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px;
		.logoImage{
			margin-right: 16px;
		}
		@media (max-width:$md4+px) {
		    flex-direction: column;
		    .logoImage{
		    	flex: 0 0 32px;
				margin: 16px 0 0 0;
				order: 4;
			}
		}
	}
	&__dropdown{
		.btnRound{
			display: none;
			transition: all 0.2s ease 0s;
		}
		@media (max-width:$md4+px) {
		    display: flex;
		    align-items: center;
		    justify-content: space-between;
		    margin-bottom: 0;
		    .btnRound{
		    	display: inline-block;
		    }
		}
	}
}

.panel{
	display: flex;
	align-items: center;
	&__socials{
		display: flex;
		a{
			padding: 4px;
			&:hover{
				use{
					fill: $black;
				}
			}
		}
		use{
			fill: $darkGray;
		}
		margin-right: 16px;
	}
	&__links{
		> *{
			color: $darkGray;
		}
	}
}

///////////////////////////////////////////////////////////