//////////////////////////// nav ////////////////////////////

.nav{
	&__body{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px;
		position: relative;
	}
	&__content{}
	&__overlayMenu{
		@media (max-width:$md4+px) {
			&.active{
				position: fixed;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    background: rgba(0,0,0,0.3);
			    z-index: 39;
			}
		}
	}
	&__menu{
		display: flex;
		align-items: center;
		margin-right: 16px;
		> *:not(.btnSec){
			padding: 8px;
			border-radius: 12px;
			text-decoration: none;
			&:hover{
				background-color: $lightGray;
			}
		}
		.btnSec{
			margin-left: 8px;
		}
		@media (max-width:1100+px) {
			display: none;
			z-index: 40;
		    position: absolute;
		    top: 56px;
		    left: 16px;
		    width: 375px;
		    flex-direction: column;
		    padding: 16px;
		    border-radius: 12px;
		    background-color: $white;
		    box-shadow: $boxShadow;
		    > * {
		    	width: 100%;
		    }
		    .btnSec{
		    	margin: 8px 0 0 0;
		    }
			&.active{
				display: flex;
			}
		}
		@media (max-width:$md4+px) {
			display: flex;
			position: fixed;
			top: auto;
	        bottom: 0;
	        left: 0;
	        box-shadow: none;
	        width: 100%;
	        transition: all 0.3s ease 0s;
	        transform: translateY(110%);
			&.active{
				transform: translateY(0%);
				transition: all 0.3s ease 0s;
			}
	    }
	}
	&__logo{
		.burger{display: none;}
		@media (max-width:1100+px) {
		    display: flex;
		    align-items: center;
		    .burger{
		    	display: block;
		    	margin-right: 24px;
		    }
		}
	}
}

.burger{
	background-color: transparent;
	cursor: pointer;
	.st-active{
		display: none;
	}
	&.active{
		.st-not-active{display: none;}
		.st-active{
			fill: $red;
			display: block;
		}
	}
}

//////////////////////////// rkl ////////////////////////////

.rkl{
	display: block;
	background-color: $red;
	color: $white;
}

////////////////////////// product ///////////////////////////

.product {
	&__row {
		display: flex;
		padding-bottom: 16px;
		@media (max-width:$md3+px) {
		    flex-wrap: wrap;
		}
	}
	&__col {
		flex: 0 0 50%;
		padding: 16px;
		min-width: 0;
		@media (max-width:$md3+px) {
		    flex: 0 0 100%;
		}
	}
	&__holder {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__content {
		.f-jcsb-aic{
			@media (max-width:$md2+px) {
			    flex-wrap: wrap;
			}
		}
	}
	.totalPrice{
		padding: 0;
	}
}

.warranty {
	border-radius: 24px;
	padding: 16px;
	background-color: $lightOrange;
	display: flex;
	align-items: center;
	> img{
		flex: 0 0 72px;
		width: 72px;
		height: 72px;
		margin-right: 16px;
	}
	&__text {
		.text-medium{
			color: $orange;
			margin-bottom: 8px;
		}
	}
}

.sliderBig{
	width: 100%;
	padding-top: 100%;
	position: relative;
	&__body{
		@extend .posa;
		&:hover{
			/*.slick-dots > li.slick-active:after{
				display: none !important;
				animation-play-state: paused;
				-webkit-animation-play-state: paused;
			}*/
		}
	}
	&__item{
		border: 2px solid $divider;
		position: relative;
		max-height: 100%;
		border-radius: 24px;
		overflow: hidden;
		img, video{
			width: 100%;
			height: 100%;
		}
	}
	.slick-list {
		border-radius: 24px;
	}
	@extend .slider-style-banner;
}

@keyframes loading {
 	100% { width: 100%;}
}

.scrollPreview {
	margin-top: 8px;
	max-width: 100%;
	padding-bottom: 8px;
	overflow-x: auto;
	overflow-y: hidden;
	&__body{
		display: inline-flex;
		margin: 0 -8px;
	}
	&__item {
		flex: 0 0 80px;
		width: 80px;
		height: 80px;
		border-radius: 12px;
		overflow: hidden;
		border: 2px solid $divider;
		margin: 0 8px;
		cursor: pointer;
		position: relative;
		&.active{
			border-color: $red;
		}
		img{
			width: 100%;
			height: 100%;
		}
	}
}


////////////////////////// lottery //////////////////////////

.lottery{
	&__svg{
		width: 290px;
		height: 200px;
		margin-top: -132px;
		margin-bottom: 30px;
		@media (max-width:$md4+px) {
			margin-top: -101px;
		    width: 200px;
			height: 138px;
		}
	}
}

////////////////////////// review ///////////////////////////

.reviews{
	&__row{
		display: flex;
		flex-wrap: wrap;
	}
	&__item{
		flex: 0 0 25%;
		padding: 8px;
		@media (max-width:$md_1150+px) {flex: 0 0 33.333%;}
		@media (max-width:$md_872+px) {flex: 0 0 50%;}
		@media (max-width:$md_608+px) {flex: 0 0 100%;}
		.cardReviews{width: 100%;}
	}
}

.reviewCategory {
	&__row {
		display: flex;
		@media (max-width:$md3+px) {
		    flex-wrap: wrap;
		}
	}
	&__col {
		padding: 8px;
		flex: 0 0 20%;
		@media (max-width:$md3+px) {
		    flex: 0 0 50%;
		}
		&.col-max{
			@media (max-width:$md3+px) {
			    flex: 0 0 100%;
			}
		}
	}
	&__item {
		border: 2px solid $divider;
		border-radius: 12px;
		padding: 16px;
		text-align: center;
		cursor: pointer;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		&:hover{
			background-color: $lightGray;
			text-decoration: none;
		}
		&.active{
			border: 2px solid $red;
		}
		img{
			margin: 0 auto 20px auto;
		}
	}
	&.mod-inPopup{
		.reviewCategory{
			&__row{
				margin: -8px;
			}
			&__col{
				flex:1;
				p{
					@extend .text-footnote;
					line-height: 20px;
				}
				@media (max-width:520+px) {
				    flex: 0 0 50%;
				}
			}
			&__item{
				img{
					margin: 0 auto 8px auto;
					&.mod-ozon{
						height: 18px;
					}
				}
			}
		}
	}
}

.cardReviews {
	width: 300px;
	height: 100%;
	padding: 16px;
	border: 2px solid $divider;
	border-radius: 12px;
	background-color: $white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	::-webkit-scrollbar {
    	width: 8px !important;
    	height: 8px;
   		background-color: #fff !important;
   		@media (max-width:$md3+px) {
   		    display: none;
   		}
	}

	::-webkit-scrollbar-thumb {
	    background-color: rgba(136,136,158, 0.4);
	    border-radius: 4px;
	    @media (max-width:$md3+px) {
   		    display: none;
   		}
	}

	::-webkit-scrollbar-thumb:hover {
	    background-color: rgba(136,136,158, 0.5);
	}

	scrollbar-color: #999 #ccc;
  	scrollbar-width: thin !important;

  	&:hover{
		.cardReviews__button.js-hide-text{
			opacity: 1;
		}
	}
	&__content{
		position: relative;
		z-index: 20;
		margin-top: 16px;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-height: 214px;
		overflow: auto;
		height: 100%;
	}
	&__text {
		flex: 1;
		&.hidden{
			overflow: hidden;
			display: -webkit-box;
		    -webkit-line-clamp: 4;
		    -webkit-box-orient: vertical;
			text-overflow: ellipsis;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				width: 50%;
				background: linear-gradient(90deg, rgba(255,255,255,0),rgba(255,255,255,1));
				height: 24px;
				bottom: 0;
				right: 0;
			}
		}
	}
	&__button {
		margin-bottom: 16px;
		text-align: left;
		color: $red;
		background-color: transparent;
		display: none;
		&.js-hide-text{
			display: block;
			@media (min-width:$md3+px) {
			   opacity: 0; 
			}
		}
		&.active{
			.show-more{display: none;}
			.show-less{display: block;}
		}
		.show-less{
			display: none;
		}
	}
	&__footer{
		height: 80px;
	}
}

///////////////////////// personal //////////////////////////

.personal{
	&__header{
		@media (max-width:$md_1045+px) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			.btnSec{
				margin-top: 16px;
				width: 100%;
			}
		}
	}
	&__row{
		@media (max-width:$md_1045+px) {
			flex-direction: column;
			.col-2:first-child{
				margin-bottom: 16px;
			}
		}
		&.mod-md-mb-32{
			@media (max-width:$md_1045+px) {
				.col-2:first-child{
					margin-bottom: 32px;
				}
			}
		}
	}
}

///////////////////////// history ///////////////////////////

.history{
	svg{
		fill: $white;
	}
	&__item{
		border-radius: 12px;
		text-decoration: none !important;
		@media (max-width:$md1+px) {
			border-radius: 0px;
		}
		&:hover{
			box-shadow: $boxShadow;
		}
	}
}

///////////////////////// result21 //////////////////////////

.result21 {
	background-color: $lightGray;
	&__row {
		padding: 8px;
		display: flex;
		align-items: center;
		@media (max-width:$md2+px) {
		    flex-wrap: wrap;
		}
	}
	&__col {
		padding: 8px;
		flex: 0 0 50%;
		@media (max-width:$md2+px) {
		    flex: 0 0 100%;
		}
	}
	&__image {
		border-radius: 24px;
		overflow: hidden;
		img{
			width: 100%;
		}
		@media (min-width:$md3+px) and (max-width:$md2+px) {
			text-align: center;
			img{
				max-width: 768px;
			}
		}
	}
	&.mod-v2{
		@media (max-width:$md2+px) {
			.result21__row{
				flex-wrap: wrap-reverse;
				padding-bottom: 0;
			}
			.result21__col{
				padding-bottom: 0;
			}
		}
		@media (min-width:$md2+px) {
			.result21__col:first-child{
				align-self: flex-end;
			}
			.result21__image{
				margin-bottom: -16px;
			}
		}
	}
}

.topLil{
	margin-bottom: 16px;
	> svg{
		display: block;
		fill: $red;
	}
	&__1{
		margin: 0 0 9px 25px;
		width: 33.15px;
		height: 32.73px;
	}
	&__2{
		width: 23.12px;
		height: 22.7px;
		opacity: 0.5;
		transform: rotate(38deg);
	}
}

.bottomLil{
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	> svg{
		display: block;
		fill: $red;
		opacity: 0.5;
	}
	&__1{
		width: 18px;
		height: 18px;
		margin-bottom: 37px;
	}
	&__2{
		width: 11px;
		height: 11px;
		margin-right: 51px;
	}
}

///////////////////// breadcrumbs //////////////////////////

.breadcrumbs {
	&__link {
		&:not(:first-child){
			padding-left: 32px;
			position: relative;
			&:before{
				position: absolute;
				content: "";
				top: calc(50% - 10px);
				left: 5px;
				width: 24px;
				height: 24px;
				background: url('../img/sprite/icons-sprite.svg#chevrone') 0 0 / cover no-repeat;
				background-position: 50% 50%;
			}
		}
	}
}

/////////////////////////// stick ///////////////////////////

.stick {
	&__image{
		text-align: center;
		img{
			max-width: 100%;
		}
	}
	&__desc{
		@media (max-width:$md3+px) {
		    display: none;
		}
	}
	&__mob{
		@media (min-width:$md3+px) {
		    display: none;
		}
	}
}

//////////////////////// effectSerum /////////////////////////

.effectSerum {
	&__row {
		padding: 0 16px 16px 16px;
		display: flex;
		@media (max-width:$md3+px) {
		    flex-wrap: wrap;
		}
	}
	&__col {
		flex: 0 0 33.333%;
		@media (max-width:$md3+px) {
		    flex: 0 0 100%;
		}
		display: flex;
		flex-direction: column;
		@media (max-width:$md3+px) {
		    flex-direction: row;
		}
	}
	&__label {
		display: flex;
		align-items: center;
		@media (max-width:$md3+px) {
		    flex-direction: column;
		    max-width: 45px;
		    .text-huge{
		    	font-family: "FuturaPT-Heavy";
			    font-size: 18px;
			    line-height: 24px;
			    text-align: center;
			    padding: 0;
		    }
		}
		.line{
			flex: 1 1 auto;
			height: 4px;
			@media (max-width:$md3+px) {
			    width: 4px;
			}
		}
		&.v1{
			.line-1{background-color: $whiteBlue;}
			.text-huge{color: $whiteBlue;}
			.line-2{
				background: $lg1;
				@media (max-width:$md3+px) {
				    background: $lg1_mob;
				}
			}
		}
		&.v2{
			.line-1{background-color: $violet2;}
			.text-huge{color: $violet2;}
			.line-2{
				background: $lg2;
				@media (max-width:$md3+px) {
				    background: $lg2_mob;
				}
			}
		}
		&.v3{
			.line-1{background-color: $red;}
			.text-huge{color: $red;}
			.line-2{background: $red;}
		}
	}
	&__content {
		flex: 1;
		padding: 10px 10px 0 10px;
		@media (max-width:$md3+px) {
		    padding: 10px 0px 0 18px;
		}

	}
	&__text{
		height: 100%;
		padding: 16px;
		box-shadow: $boxShadow;
		border-radius: 24px;
		display: flex;
		align-items: center;
		position: relative;
		@media (max-width:$md2+px){
		    flex-direction: column;
		}
		svg{
			width: 112px;
			flex: 0 0 112px;
			height: 112px;
			margin-right: 16px;
			@media (max-width:$md2+px) {
			    margin: 0 0 16px 0;
			}
		}
	}
	&__triangle{
		display: block;
	    position: absolute;
		z-index: 12;
		top: calc(50% - 56px);
		left: -62px;
		margin: 0 !important;
		@media (min-width:$md3+px) {
			transform: rotate(90deg);
		    top: -62px;
			left: calc(50% - 56px);
		}
	}
}


/////////////////////////// unique ////////////////////////////

.unique {
	background-color: $lightGray;
	&__row {
		padding: 64px 16px 0 16px;
		display: flex;
		align-items: center;
		@media (max-width:$md_1150+px) {
		    display: block;
		}
		@media (max-width:$md3+px) {
		    padding: 32px 16px 0 16px;
		}
	}
	&__col {
		&.col-1 {
			flex: 0 0 448px;
		}
		&.col-2 {
			flex: 1 1 auto;
		}
	}
	&__content {
		@media (max-width:$md_1150+px) {
		    max-width: 800px;
		    margin: 0 auto;
		    text-align: center;
		}
		@media (max-width:$md3+px) {
		    text-align: left;
		}
	}
	&__table{
		padding: 16px 16px 0 16px;
		@media (max-width:$md_1150+px) {
		   padding: 16px 0 0 0;
		}
		table{
			width: 100%;
			border-collapse: collapse;
			border-radius: 12px 12px 0px 0px;
			svg{
				fill: $white;
				margin: 0 auto;
			}
			td{
				@media (max-width:$md_552+px) {
					font-family: "FuturaPT-Book";
				    font-size: 16px;
				    line-height: 16px;
				}
				background-color: $white;
				padding: 16px 16px 0px 16px;
				&.image1{
					text-align: center;
					padding: 0;
					img{
						margin-top: -23%;
						max-width: 188px;
						width: auto;
						@media (max-width:$md_552+px) {
						    width: 100%;
						}
					}
				}
				&.image2{
					height: 100%;
					vertical-align: bottom;
					text-align: center;
					img{
						max-width: 107px;
						width: auto;
						@media (max-width:$md_552+px) {
						    width: 100%;
						}
					}
				}
				&.brad-t{
					border-radius: 12px 12px 0px 0px;
				}
				&.brad-tl{
					border-radius: 12px 0px 0px 0px;
				}
				&.brad-tr{
					border-radius: 0px 12px 0px 0px;
				}
			}
			tr:last-child>td{
				padding-bottom: 16px;
			}
		}
	}
}

//////////////////////// warrantyWork /////////////////////////

.warrantyWork {
	&__body {
		padding: 0 16px 32px 16px;
	}
	&__row{
		background-color: $lightOrange;
		border-radius: 24px;
		overflow: hidden;
		display: flex;
		align-items: flex-end;
		@media (max-width:$md3+px) {
		    flex-wrap: wrap;
		}
	}
	&__text{
		position: relative;
		z-index: 5;
		flex: 0 0 53.7%;
		padding: 32px;
		img{
			width: 72px;
			height: 72px;
		}
		.text-huge{color: $orange;}
		@media (max-width:$md3+px) {
		    flex: 0 0 100%;
		}
		@media (max-width:$md4+px) {
		    padding: 16px;
		}
	}
	&__image{
		flex: 1;
		img{
			width: 100%;
		}
		@media (max-width:$md3+px) {
		    flex: 0 0 100%;
		}
		@media (min-width:$md3+px) and (max-width:$md_1150+px) {
			position: relative;
			img{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 578px;
				height: 408px;
			}
		}
	}
	.btn{
		@media (max-width:$md4+px) {
		    width: 100%;
		    padding: 10px;
		}
	}
}

.warrantyWork.mod2{
	background-color: $lightOrange;
	.warrantyWork{
		&__body{
			padding: 0 16px;
		}
		&__row{
			border-radius: 0px;
		}
		&__text{
			padding: 32px 0px;
		}
	}
}

//////////////////////////// faq /////////////////////////////

.dropdown{
	padding: 0 16px;
	&__head{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 32px 0px;
		border-bottom: 2px solid $divider;
		cursor: pointer;
		p{margin-right: 8px;}
	}
	&__body{
		padding: 16px 0;
	}
}

.js-dropdown-item .btnRound{
	transition: all 0.3s ease 0s;
}
.js-dropdown-item.active {
	.js-dropdown-head{
		color: $red;
	}
	.btnRound{
		transform: rotate(45deg);
		transition: all 0.3s ease 0s;
	}
}

/////////////////////////// cost ////////////////////////////

.cost {
	background-color: $lightGray;
	&__row {
		padding: 8px;
		display: flex;
		@media (max-width:$md_1150+px) {
		    flex-wrap: wrap-reverse;
		}
	}
	&__col {
		padding: 8px;
		flex: 0 0 50%;
		@media (max-width:$md_1150+px) {
		    flex: 0 0 100%;
		}
		&.mod2{
			@media (max-width:$md_1150+px) {
			    margin-top: 32px;
			}
		}
	}
	&__text{
		.btn{
			@media (max-width:$md_1150+px) {
			    width: 100%;
			}
		}
	}
	&__smart{
		position: relative;
		display: flex;
		align-items: flex-end;
		padding: 16.5px 8px 8px 8px;
		@media (max-width:$md_1150+px) {
		    padding: 16.5px 0px 8px 0px;
		    margin: 0 -8px;
		}
	}
	&__col2{
		padding: 8px;
		flex: 0 0 50%;
	}
	&__stat1{
		background-color: $white;
		border-radius: 12px;
		height: 406px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		position: relative;
		.text-big{
			@media (max-width:$md3+px) {
		    	font-family: "FuturaPT-Heavy";
				font-size: 18px;
				line-height: 24px;
			}
		}
		.p-32{
			@media (max-width:$md3+px) {
			    padding: 16px;
			}
		}
		@media (max-width:$md3+px) {
		    height: 300px;
		}
	}
	&__wrap{
		position: absolute;
		top: 0;
		left: 0;
		transform: translateY(-50%);
		width: 100%;
		svg{
			//fill: $white;
			margin: 0 auto;
			@media (max-width:$md3+px) {
			    width: 64px;
			    height: 64px;
			}
		}
		
	}
	&__stat2{
		background-color: $red;
		border-radius: 12px;
		color: $white;
		position: relative;
		padding-top: 40px;
		.text-big{
			@media (max-width:$md3+px) {
		    	font-family: "FuturaPT-Heavy";
				  font-size: 18px;
				  line-height: 24px;
			}
		}
		.p-32{
			@media (max-width:$md3+px) {
			    padding: 16px;
			}
		}
	}
	&__background{
		@extend .posa;
		overflow: hidden;
	}
	&__bgItem{
		height: 2px;
		background-color: $divider;
		margin-top: 62px;
	}
}

////////////////////////// about ///////////////////////////

.about{
	&__scroll{
		padding: 16px 8px 8px 8px;
		.scroll__scroll{
			padding-bottom: 8px;
		}
		.scroll__item{
			padding: 0px;
			&:first-child .about__item{
				padding-left: 0px;
			}
		}
	}
	&__item{
		width: 155px;
		height: 266px;
		border-radius: 12px;
		overflow: hidden;
		padding: 8px;
		position: relative;
		cursor: pointer;
		img{
			position: relative;
			z-index: 2;
			width: 100%;
			height: 100%;
			border-radius: 10px;
			border: 2px solid #EAF0F6;
		}
	}
	&__news{
		background: linear-gradient(198.73deg, #E81F76 0%, #9029F8 35.43%, #00D1FF 67.21%, #0BD5A1 100.04%);
		position: absolute;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
		z-index: 8;
		border-radius: 11px;
		padding: 8px;
		&:after{
			content: "";
			position: absolute;
			top: 2px;
			left: 2px;
			bottom: 2px;
			right: 2px;
			background-color: $white;
			border-radius: 10px;
		}
		&:before{
			content: "";
			position: absolute;
			z-index: 5;
			top: 8px;
			left: 8px;
			bottom: 8px;
			right: 8px;
			background: rgba(69, 76, 84, 0.12);
			backdrop-filter: blur(16px);
			border-radius: 10px;
		}
		img{border: none;}
	}
	&__text{
		@extend .posa;
		@extend .f-jcc-aic;
		flex-direction: column;
		color: $white;
		z-index: 20;
		padding: 16px;
	}
	&__photoCount{
		text-align: center;
		border: 2px solid $divider;
		box-sizing: border-box;
		padding: 6px;
		width: 100%;
		border-radius: 99px;
	}
}

.stories{
	&.active{
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(15px);
		.stories__scroll{
			display: inline-block;
		}
		.about__scroll{
			padding: 0;
		}
		.scroll{
			&__body{
				padding-top: 8px;
				overflow-x: hidden;
				overflow-y: auto;
				height: 100vh;
			}
			&__scroll{
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
			}
			&__item{
				display: inline-block;
				&:first-child .about__item{
					padding-left: 8px;
				}
			}
		}
		.stories__body{display: flex;}
		.about__item img{border: none;}
		.stories__scroll{
			@media (max-width:$md_552+px) {
				display: none;
			}
		}
	}
	&__body{
		display: none;
		align-items: center;
		justify-content: center;
		@extend .posa;
	}
	&__slider{
		height: 600px;
		width: 328px;
		position: relative;
		@media (max-width:$md3+px) {
		    left: 77px;
		}
		@media (max-width:$md_552+px) {
		    left: 0;
		    width: 100%;
		    height: 100%;
		    .slick-list{
		    	border-radius: 0px;
		    }
		}
	}
	&__item{
		height: 100%;
		position: relative;
		img, video{
			width: 100%;
			height: 100%;
		}
	}
	&__link{
		z-index: 5;
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0;
		padding: 16px;
	}
	.btnRound.btn-prev{
		left: calc(50% - 40px - (328px / 2) - 56px);
	}
	.btnRound.btn-next{
		right: auto;
		left: calc(50% + (328px / 2) + 56px);
	}

	.slick-list {
		border-radius: 12px;
		overflow: hidden;
		height: 100%;
	}

	.slick-track{
		display: flex;
		height: 100%;
	}
}



.timescale{
	@extend .posa;
	height: auto;
	padding: 16px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
	border-radius: 12px 12px 0px 0px;
	@media (max-width:$md3+px) {
	    border-radius: 0px;
	}
	&__lines{
		height: 4px;
		display: flex;
	}
	&__item{
		flex: 1;
		height: 100%;
		margin: 0 2px;
		background: rgba(255, 255, 255, 0.5);
		border-radius: 99px;
		overflow: hidden;
	}
	&__left{
		height: 100%;
		background: $red;
		width: 0%;
		&.active{
			animation: stories var(--stories-duration) forwards 0s linear;
		}
		&.complete{
			width: 100%;
		}
		&.pause{
			animation-play-state: paused;
		}
	}
	&__control{
		fill: $white;
		cursor: pointer;
		opacity: 0.5;
		&.volumn{
			margin-left: 8px;
		}
		&.close{
			@media (min-width:$md_552+px) {
			    display: none;
			}
		}
	}
}

@keyframes stories {
 	100% { width: 100%;}
}

///////////////////////// feedback //////////////////////////

.feedback {
	&__item {
		border-bottom: 1px solid $divider;
	}
	&__info{
		display: flex;
		align-items: center;
		margin-left: 8px;
		@media (max-width:$md_552+px) {
			flex-direction: column;
			align-items: flex-end;
			.mr-16{
				text-align: right;
				margin-right: 0;
			}
		}
	}
	&__content {
		padding-left: 56px;
		@media (max-width:$md3+px) {
		    padding-left: 0px;
		}
	}
}

.imageFeedback{
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 36.5fr 23fr 18fr 22.5fr;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: "post-1 post-2 post-4 post-6"  
                         "post-1 post-3 post-5 post-6";
    > *:first-child{grid-area: post-1;}
    > *:nth-child(2){grid-area: post-2;}
    > *:nth-child(3){grid-area: post-3;}
    > *:nth-child(4){grid-area: post-4;}
    > *:nth-child(5){grid-area: post-5;}
    > *:nth-child(6){grid-area: post-6;}
    > *:nth-child(n+7){display: none;}
    &.child-6{
    	height: 216px;
    	.imageFeedback__item{height: 100%;}
    }
    &.child-5{
    	height: 216px;
    	grid-template-areas: "post-1 post-2 post-4 post-5"  
                             "post-1 post-3 post-4 post-5";
    	.imageFeedback__item{height: 100%;}
    }
    &.child-4{
    	height: 216px;
    	grid-template-areas: "post-1 post-2 post-4 post-4"  
                             "post-1 post-3 post-4 post-4";
    	.imageFeedback__item{height: 100%;}
    }
    &.child-1, &.child-2, &.child-3{
    	grid-template-columns: 23fr 18fr 36.5fr;
    	grid-template-rows: none;
    	grid-template-areas: "post-1 post-2 post-3";
    }
	@media (max-width:$md3+px) {
		grid-template-areas: none !important;
	    grid-template-rows: repeat(2,1fr) !important;
	    grid-template-columns: repeat(3,34fr) !important;
	    height: auto !important;
	    > *:nth-child(n+1){grid-area: auto;}
	    > *:first-child{
	    	grid-area: 1/1/3/3;
	    }
	}
	&__item{
		position: relative;
		border-radius: 12px;
		overflow: hidden;
		height: 216px;
		@media (max-width:$md3+px) {
		    height: 0;
		    padding-top: 100%;
		}
	}
	&__wrap{
		cursor: pointer;
		@extend .posa;
		img, video{
			width: 100%;
			height: 100%;
		}
	}
	&__duration{
		position: absolute;
		z-index: 3;
		bottom: 16px;
		left: 16px;
		border-radius: 12px;
		padding: 2px 8px;
		background-color: $white;
		pointer-events: none;
		@media (max-width:$md4+px) {
		    bottom: 4px;
		    left: 4px;
		}
	}
}

.isSliderReviews{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100% !important;
	display: block !important;
	z-index: 200;
	background: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(15px);
	.imageFeedback{
		&__item{
			height: auto !important;
			border-radius: 0px;
			max-height: 95vh;
			width: 100%;
			padding-top: 0 !important;
		}
		&__wrap{
			position: static;
			img, video{
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
			display: flex;
			align-items: center;
			justify-content: center;
			span{
				display: none;
			}
		}
	}
	.slick-track{
		display: flex !important;
	}

	.slick-list {
		overflow: hidden;
		height: 100%;
		display: flex;
		align-items: center;
	}

	.slick-slide{}
}

.feedbackSliderControls{
	.btnRound{
		position: fixed;
		display: none;
	}
	&.active{
		.btnRound{
			z-index: 200;
			display: flex;
			&.btn-close{
				display: flex !important;
			}
		}
	}
	
}

.pagination {
	padding: 16px;
	&__list {
		li{
			border: 2px solid $divider;
			border-radius: 8px;
			list-style: none;
			margin: 0 8px;
			a{
				display: inline-block;
				padding: 2px 10px;
				text-decoration: none;
				color: $darkGray;
				@extend .text-extra-small;
			}
			&.active{
				background-color: $red;
				border-color: $red;
				a{
					color: $white;
				}
			}
			&:hover:not(.active){
				background-color: $divider;
			}
			&.mob-hide{
				@media (max-width:$md3+px) {
				    display: none;
				}
			}
		}
	}
}

/////////////////////////// terms ////////////////////////////

.cardTerms{
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 32px;
	height: 100%;
	img{
		width: 72px;
		height: 72px;
		display: inline-block;
		margin-bottom: 16px;
	}
	&.v1{
		background-color: $lightRed;
		.text-medium{color: $red;}
	}
	&.v2{
		background-color: $lightYellow;
		.text-medium{color: $yellow;}
	}
	&.v3{
		background-color: $lightOrange;
		.text-medium{color: $orange;}
	}
	&.v4{
		background-color: $lightGreen;
		.text-medium{color: $green;}
	}
	&.v5{
		background-color: $lightBlue;
		.text-medium{color: $blue;}
	}
	&.v6{
		background-color: $lightViolet;
		.text-medium{color: $violet;}
	}
	&.v7{
		background-color: $lightPink;
		.text-medium{color: $pink;}
	}
	&.mod-v2{
		align-items: flex-start;
		justify-content: start;
		padding: 16px;
		img{margin-bottom: 8px;}
		.text-medium{margin-bottom: 8px;}
	}
}

////////////////////////// set ////////////////////////////

.set{
	display: none;
	&.active{
		display: block;
	}
	padding: 16px;
	@media (max-width:$md_608+px) {
	    padding: 0;
	}
	&__body{
		padding: 16px;
		box-shadow: $boxShadow;
		border-radius: 24px;
		@media (max-width:$md3+px) {
		    padding: 8px;
		    box-shadow: none;
		    border-radius: 0px;
		}
	}
	&__row{
		display: flex;
		@media (max-width:$md_1045+px) {
		    flex-direction: column;
		}
	}
	&__col{
		flex: 1;
	}
	&__line{
		flex: 0 0 40px;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&:after{
			content: "";
			position: absolute;
			top: 0;
			left: 19px;
			width: 2px;
			height: 100%;
			background-color: $divider;
			z-index: -1;
			@media (max-width:$md_1045+px) {
			    top: 19px;
				left: 0px;
				width: 100%;
				height: 2px;
			}
		}
		svg{
			fill: $black;
		}
	}
}

.totalPrice{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 16px 16px 0 16px;
	@media (max-width:$md3+px) {
	    flex-direction: column;
	    > *{
	    	width: 100%;
	    }
	    .mr-16, .mb-16{
	    	margin: 0;
	    }
	    .label{
	    	text-align: center;
	    	margin-bottom: 16px;
	    }
	}
	&__header{
		display: flex;
		align-items: center;
		@media (max-width:$md3+px) {
		    justify-content: space-between;
		    margin-bottom: 16px;
		}
	}
}

.cardSet {
	height: 100%;
	display: flex;
	flex-direction: column;
	@media (max-width:$md_1045+px) {
		flex-direction: row;
		align-items: flex-start;
	}
	&__image {
		width: 100%;
		padding-top: 100%;
		position: relative;
		@media (max-width:$md_1045+px) {
			width: 120px;
			padding-top: 120px;
		}
	}
	&__imageWrap{
		@extend .posa;
		display: flex;
		align-items: center;
		justify-content: center;
		img{
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__content{
		flex: 1;
		display: flex;
		flex-direction: column;
		@media (max-width:$md_1045+px) {
			padding: 8px;
		}
	}
	&__header{
		@media (max-width:$md_1045+px) {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
		}
		@media (max-width:$md3+px) {
		    flex-direction: column-reverse;
		    .f-jcsb{
		    	justify-content: flex-start;
		    }
		}
		@media (max-width:$md_608+px) {
		    .text-medium{
		    	font-family: "FuturaPT-Heavy";
				font-size: 18px;
				line-height: 24px;
		    }
		}
		.f-jcsb{
			@media (max-width:$md4+px) {
			    flex-direction: column;
			    .rating{
			    	margin-bottom: 8px;
			    }
			}
		}
	}
	&__text {
		padding: 16px;
		flex: 1;
		@media (max-width:$md_1045+px) {
			padding: 0px;
			flex: 0;
		}
	}
	&__price{
		@extend .text-extra-small;
		margin-left: 16px;
		@media (max-width:$md_1045+px) {
			margin-left: 0px;
			margin-top: 8px;
		}
	}
}

///////////////////////// useful //////////////////////////

.useful{
	&__row{
		display: flex;
		@media (max-width:$md2+px) {
		    display: block;
		}
	}
	&__col{
		flex: 0 0 33.333%;
		padding: 16px;
		@media (max-width:$md2+px) {
		    flex: auto;
		    padding: 8px;
		}
	}
	&__card{
		box-shadow: $boxShadow;
		border-radius: 16px;
		height: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width:$md3+px) {
		    .btn{
		    	padding: 10px 14px;
		    }
		}
		> a{
			flex: 1;
			text-decoration: none !important;
			display: flex;
			flex-direction: column;
		}
	}
	&__body{
		position: relative;
		.sliderBtn{
			@media (min-width:$md2+px) {
			    display: none;
			}
		}
	}
	&__label{
		position: absolute;
		top: 16px;
		left: 16px;
		z-index: 120;
		+ .useful__label{
			top: 64px;
		}
	}
	&__image{
		position: relative;
		padding-top: 100%;
		width: 100%;
	}
	&__imageWrap{
		@extend .posa;
		padding: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
		img{
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__hoverArea{
		@extend .posa;
		z-index: 120;
		display: flex;
		span{
			flex: 1;
			height: 100%;
		}
	}
	&__dots{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: auto;
		padding: 16px 12px;
		z-index: 122;
		display: flex;
		span{
			height: 3px;
			flex: 1;
			border-radius: 99px;
			background-color: $lightGray;
			margin: 0 4px;
			&.active{
				background-color: $red;
			}
		}

	}
	&__text{
		padding: 16px 16px 12px 16px;
	}
	&__btn{
		padding: 0 16px 16px 16px;
	}

	.slick-list {
		overflow: hidden;
		padding: 16px 32px 16px 8px;
	}
}

//////////////////////// popular //////////////////////////

.popular{
	position: relative;
	.useful__row{
		display: block !important;
	}
	.useful__col{
		flex: auto !important;
		padding: 16px !important;
		@media (max-width:$md3+px) {
		    padding: 8px !important;
		}
	}
	.useful__card{
		box-shadow: 0px 0px 40px rgba(69, 76, 84, 0.08);
	}
	.useful__imageWrap{
		&:not(.initImage){
			img{
				display: none;
				&:first-child{
					display: block;
				}
			}
		}
		&.initImage{
			img{
				display: none;
				&.active{
					display: block;
				}
			}
		}
	}
	.slick-list {
		padding: 16px 0px 16px 0px;
		@media (max-width:$md3+px) {
		    padding: 16px 32px 16px 8px;
		}
	}
	&:after, &:before{
		content: "";
		position: absolute;
		z-index: 10;
		top: 0;
		width: 16px;
		height: 100%;
	}
	&:after{
		left: 0;
		background: linear-gradient(270deg, rgba(255,255,255,0),rgba(255,255,255,1));
	}
	&:before{
		right: 0;
		background: linear-gradient(270deg, rgba(255,255,255,1),rgba(255,255,255,0));
	}
}

//////////// регистрация, вход, забыли пароль /////////////

.auth{
	&__body{
		width: 540px;
		@media (max-width:$md_608+px) {
		    border-radius: 0px;
		    box-shadow: none;
		}
	}
}

//////////////////// Способы доставки /////////////////////

.deliveryMethods{
	padding: 8px;
	display: flex;
	flex-wrap: wrap;
	@media (min-width:$md3+px) {
	    display: none;
	}
	> * {
		margin: 8px;
	}
}

/////////////////// Бонусная программа ////////////////////

.bonusStage{
	padding: 16px;
	display: flex;
	align-items: flex-start;
	@media (max-width:$md3+px) {
	    flex-direction: column;
	}
	&__item{
		flex: 1;
		display: flex;
		align-items: center;
		.text-medium{
			margin: 0 16px;
			@media (min-width:$md3+px) and (max-width:$md2+px) {
				margin: 16px 0 0 0;
			}
		}
		@media (max-width:$md3+px) {
		    flex: 0 0 100%;
		    flex-direction: column;
		    align-items: flex-start;
		    &:not(:last-child){
		    	margin-bottom: 32px;
		    }
		}
		@media (min-width:$md3+px) and (max-width:$md2+px) {
			align-items: flex-start;
		}
	}
	&__number{
		flex: 0 0 80px;
		width: 80px;
		height: 80px;
		background-color: $red;
		color: $white;
		text-align: center;
		border-radius: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__arrow{
		flex: 0 0 64px;
		width: 64px;
		height: 21px;
		margin-right: 16px;
		@media (max-width:$md3+px) {
		    transform: rotate(90deg);
		    margin: 0;
		}
		@media (min-width:$md3+px) and (max-width:$md2+px) {
			margin-top: 30px;
		}
	}
	&__label{
		display: flex;
		align-items: center;
		@media (max-width:$md3+px) {
		    margin-bottom: 32px;
		}
		@media (min-width:$md3+px) and (max-width:$md2+px) {
			flex-direction: column;
			align-items: center;
			.text-medium{
				text-align: center;
			}
		}
	}
}

.awards{
	&__row{
		display: flex;
		flex-wrap: wrap;
		padding: 8px;
	}
	&__col{
		padding: 8px;
		flex: 0 0 33.333%;
		@media (max-width:$md3+px) {
		    flex: 0 0 100%;
		}
	}
	&__card{
		height: 100%;
		border-radius: 12px;
		background-color: $green;
		padding: 48px 32px 48px 128px;
		overflow: hidden;
		color: $white;
		position: relative;
		@media (min-width:$md3+px) and (max-width:1150+px) {
			padding: 96px 32px 32px 32px;
		}
		@media (max-width:$md4+px) {
		    padding-left: 64px;
		}
	}
	&__decor{
		position: absolute;
		top: 0;
		left: 0;
		width: 76px;
		height: 100%;
		z-index: 3;
		border-right: 4px dashed $white;
		@media (min-width:$md3+px) and (max-width:1150+px) {
			width: 100%;
			height: 76px;
			border-right: none;
			border-bottom: 4px dashed $white;
		}
		@media (max-width:$md4+px) {
		    width: 48px;
		}
		&:after, &:before{
			content: "";
			position: absolute;
			right: -22px;
			width: 40px;
			height: 40px;
			background-color: $white;
			border-radius: 50%;
			@media (min-width:$md3+px) and (max-width:1150+px) {
				bottom: -21px;
				right: auto;
			}
		}
		&:after{
			top: -20px;
			@media (min-width:$md3+px) and (max-width:1150+px) {
				right: -20px;
				top: auto;
			}
		}
		&:before{
			bottom: -20px;
			@media (min-width:$md3+px) and (max-width:1150+px) {
				bottom: -21px;
				left: -20px;
			}
		}
	}
	&__bg{
		position: absolute;
		left: 22px;
		top: 40px;
		font-family: "FuturaPT-Heavy";
		font-weight: bold;
	    font-size: 300px;
	    line-height: 48px;
	    color: $white;
	    opacity: 0.15;
	    transform: rotate(-30deg);
	    &.mod-2{
	    	top: 88px;
	    }
	}
}

.easyEarn {
	&__card{
		border-radius: 24px;
		background-color: $blue;
		width: 100%;
		height: 100%;
		position: relative;
		padding: 55px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.text-huge{
			color: $white;
		}
		.image-hw-80{
			background-color: transparent;
		}
	}
	&__tail{
		fill: $blue;
		position: absolute;
		bottom: -43px;
		left: 0;
		width: 103px;
		height: 45px;
		@media (max-width:$md3+px) {
		    width: 51.5px;
			height: 22.5px;
			bottom: -21.5px;
		}
	}
}

////////////////////// Блог-статья ////////////////////////

.paper {
	&__row {
		padding: 8px;
		display: flex;
		@media (max-width:$md3+px) {
		    flex-wrap: wrap;
		}
	}
	&__colMax {
		padding: 8px;
		flex: 1;
		@media (max-width:$md3+px) {
		    flex: 0 0 100%;
		}
	}
	&__colMin {
		padding: 8px;
		flex: 0 0 376px;
		@media (max-width:$md3+px) {
		    flex: 0 0 100%;
		}
	}
}

.cardProduct{
	box-shadow: $boxShadow;
	border-radius: 24px;
	padding: 16px;
}

.productItem{
	display: flex;
	text-decoration: none !important;
	border-radius: 12px;
	overflow: hidden;
	padding: 4px;
	border: 2px solid $white;
	&:hover{
		border: 2px solid $lightGray;
	}
}

///////////////////////// serum ///////////////////////////

.serum{
	background-color: $lightGray;
	&__body {
		padding: 8px;
		display: flex;
		@media (max-width:$md_872+px) {
		    flex-wrap: wrap;
		}
	}
	&__col {
		padding: 8px;
		&.mod-col-1{
			flex: 0 0 383px;
			@media (max-width:$md_872+px) {
				flex: 0 0 100%;
			}
		}
		&.mod-col-2{
			padding: 8px 8px 8px 56px;
			flex: 1;
			@media (max-width:$md_872+px) {
				padding: 8px;
			}
		}
	}
	&__video {
		width: 367px;
		padding-top: 652px;
		margin: -88px auto 0px auto;
		position: relative;
		@media (max-width:$md4+px) {
			width: 100%;
			padding-top: 177.65%;
		}
		video{
			@extend .posa;
			border-radius: 24px;
		}
	}
	&__control{
		display: flex;
		align-items: center;
		margin: 20px auto 8px auto;
		background-color: transparent;
		color: $black;
		svg{
			fill: $black;
		}
	}
	&__text {}
}

///////////////////////// fScreen /////////////////////////

.fScreen {
	&__row {
		display: flex;
		@media (max-width:$md2+px) {
		    flex-direction: column-reverse;
		}
	}
	&__col {
		&.mod-col-1{
			flex: 0 0 30%;
		}
		&.mod-col-2{
			flex: 1;
		}
	}
	&__content {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 16px;
		@media (max-width:$md2+px) {
		    padding: 16px 16px 64px 16px;
		}
	}
	&__text{
		max-width: 405px;
		@media (max-width:$md2+px) {
		    text-align: center;
		}
	}
	&__sliderBody {
		width: 100%;
		padding-top: 61%;
		position: relative;
		@media (max-width:$md4+px) {
		    padding-top: 67%;
		}
		@media (min-width:1600+px) {
		    padding-top: 690px;
		}
	}
	&__slider{
		@extend .posa;
	}
	&__image {
		width: 100%;
		height: 100%;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.slick-dots{
		bottom: auto;
		top: 0;
	}
}

/////////////////////// reviewers /////////////////////////

.reviewers {
	background-color: $lightGray;
	&__row {
		display: flex;
		padding: 8px;
		position: relative;
		@media (max-width:$md1+px) {
		    flex-wrap: wrap;
		}
		@media (min-width:$md2+px) and (max-width:$md1+px) {
		    padding-right: 549px;
		}
	}
	&__col {
		flex: 1;
		padding: 8px;
		@media (max-width:$md1+px) {
		    flex: 0 0 50%;
		}
	}
	&__colMax{
		flex: 0 0 541px;
		padding: 8px;
		@media (min-width:$md2+px) and (max-width:$md1+px) {
			position: absolute;
			right: 8px;
			bottom: 8px;
			width: 541px;
		}
		@media (max-width:$md2+px) {
		    order: -1;
		    flex: 0 0 100%;
		    margin-top: 48px;
		}
	}
	&__content{
		width: 100%;
		height: 100%;
		position: relative;
		@media (max-width:$md2+px) {
		    width: 541px;
		    margin: 0 auto;
		}
		@media (max-width:$md_608+px) {
		    width: 100%;
		}
	}
	&__info{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 16px 16px 16px 148px;
		border-radius: 12px;
		background-color: $white;
		@media (max-width:$md2+px) {
		    position: static;
		}
	}
	&__video{
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 5;
		width: 134px;
		height: 241px;
		border-radius: 12px;
		background-color: $white;
		video{
			position: absolute;
			top: 2px;
			left: 2px;
			width: calc(100% - 4px);
			height: calc(100% - 4px);
			border-radius: 12px;
		}
	}
	&__item {
		border-radius: 12px;
		padding: 8px;
		background-color: $white;
		display: flex;
		justify-content: center;
		svg{
			height: 48px;
			width: 142px;
			@media (max-width:$md4+px) {
			    height: 40px;
			    width: 118px;
			}
		}
	}
}

///////////////////////// footer //////////////////////////

.footer{
	background-color: $lightGray;
	&__row{
		display: flex;
		flex-wrap: wrap;
		padding: 16px 0px;
	}
	&__col{
		flex: 0 0 25%;
		padding: 8px;
		@media (max-width:$md3+px) {
	    	flex: 0 0 50%;
		}
		@media (max-width:$md4+px) {
		    flex: 0 0 100%;
		    border-bottom: 2px solid $divider;
		}
	}
	&__row2{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px;
		.logoImage{
			margin-right: 16px;
		}
		@media (max-width:$md4+px) {
		    flex-direction: column;
		    .logoImage{
		    	flex: 0 0 32px;
				margin: 16px 0 0 0;
				order: 4;
			}
		}
	}
	&__dropdown{
		.btnRound{
			display: none;
			transition: all 0.2s ease 0s;
		}
		@media (max-width:$md4+px) {
		    display: flex;
		    align-items: center;
		    justify-content: space-between;
		    margin-bottom: 0;
		    .btnRound{
		    	display: inline-block;
		    }
		}
	}
}

.panel{
	display: flex;
	align-items: center;
	&__socials{
		display: flex;
		a{
			padding: 4px;
			&:hover{
				use{
					fill: $black;
				}
			}
		}
		use{
			fill: $darkGray;
		}
		margin-right: 16px;
	}
	&__links{
		> *{
			color: $darkGray;
		}
	}
}

/////////////////////// fixedCard /////////////////////////

.fixedCard{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: $white;
	z-index: 200;
	box-shadow: $boxShadow;
	display: none;
	&.active{
		display: block;
	}
	&__row{
		@media (max-width:$md3+px) {
		    flex-direction: column;
		    .nlc-mb-8{
		    	width: 100%;
		    }
		    .btn{
		    	margin-top: 8px;
		    	width: 100%;
		    }
		}
	}
	&__text{
		@media (max-width:$md3+px) {
			width: 100%;
		    display: flex;
		    justify-content: space-between;
		    align-items: center;
		    .text-medium{
		    	font-family: "FuturaPT-Heavy";
  				font-size: 18px;
  				line-height: 24px;
		    }
		}
		@media (min-width:$md3+px) {
		    > *:not(:last-child){
		    	margin-bottom: 8px;
		    }
		}
	}
}

////////////////////////// Корзина /////////////////////////////

.cart{
	&__row {
		display: flex;
		@media (max-width:$md3+px) {
		    display: block;
		}
	}
	&__col {
		padding: 16px;
		&.mod-col-1{
			flex: 1;
		}
		&.mod-col-2{
			flex: 0 0 392px;
		}
	}
}

.cartProduct {
	border: 2px solid $lightGray;
	border-radius: 12px;
	padding: 12px;
	display: flex;
	align-items: center;
	&__row{
		flex: 1;
		display: flex;
		align-items: center;
		@media (max-width:1080+px) {
		    flex-wrap: wrap;
		}
	}
	&__col {
		padding: 12px;
		&.mod-col-2{
			@media (max-width:1080+px) {
				flex: 0 0 100%;
			}
		}
		&.mod-col-3{
			@media (min-width:$md3+px) and (max-width:966+px), (max-width:600+px) {
				flex: 0 0 100%;
			}
		}
		&.mod-col-4{
			@media (min-width:$md3+px) and (max-width:966+px), (max-width:600+px) {
				.ta-c{
					text-align: left;
				}
			}
		}
	}
}

.imageComm{
	overflow: hidden;
	img{
		min-height: 100px;
		width: 100%;
	}
}

.cartSet{
	border: 2px solid $lightGray;
	border-radius: 24px;
	.slick-slider{
		width: 360px;
		@media (max-width:$md3+px) {
		    width: 100%;
		}
	}
	.slick-list {
		overflow: hidden;
	}
	.slick-track{
		display: flex;
	}
}

.rowInputs{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -16px 16px -16px;
	&__col{
		padding: 0 16px;
		flex: 1;
		min-width: 250px;
		margin-bottom: 16px;
	}
}


.cartFixed{
	&.active{
		z-index: 205;
		background-color: $white;
		margin: 0;
		position: fixed;
		bottom: 16px;
		left: 16px;
		right: 16px;
	}
}


/////////////////////////////////////////////////////////////////////