.lg-0{background: linear-gradient(180deg, #83CCFD 0%, #45A0E6 100%);}
.lg-1{background: linear-gradient(180deg, #FF808A 0%, #FF3344 100%);}
.lg-2{background: linear-gradient(180deg, #FFE37E 0%, #F0BC00 100%);}
.lg-3{background: linear-gradient(180deg, #88E8E6 0%, #3CC2BD 100%);}
.lg-4{background: linear-gradient(180deg, #D766FF 0%, #9600CC 100%);}
.lg-5{background: linear-gradient(180deg, #1AD7FF 0%, #00A5E6 100%);}
.lg-6{background: linear-gradient(180deg, #EEAC75 0%, #D59165 100%);}
.lg-7{background: linear-gradient(180deg, #FF7790 0%, #F73558 100%);}
.lg-8{background: linear-gradient(180deg, #FFDA7A 0%, #F1A64D 100%);}
.lg-9{background: linear-gradient(180deg, #64FFB5 0%, #00A656 100%);}