:root {
  --color-primary: #E81F76;
  --color-bg: #FFFFFF;
  --color-bg-secondary: #F1F5F9;
  --color-success: #17CF7B;
  --color-error: #E81F76;
  --color-notify: #FFA000;

  --color-text: #303438;
  --color-text-secondary: #ABB2BA;
  --color-text-contrast: #FFFFFF;
  --color-link: #E81F76;
  --color-link-visited: rgba(232, 31, 118, 0.5);

  --color-icon: #303438;
  --color-icon-light: #FFFFFF;
  --color-icon-secondary: #ABB2BA;

  --color-divider: #EAF0F6;
  --color-btn-accent: #E81F76;
  --color-btn-secondary: #F1F5F9;
  --color-text-btn-accent: #E81F76;
  --color-text-btn-secondary: #303438;

  --shadow: 0px 0px 40px rgba(69, 76, 84, 0.08);
}